swagger: '2.0'
info:
  title: Line Management Global Offering Service
  description: This is the API for the Line Management Global Offering entity and should be the way to get or search Global Offering data.
  version: 1.4.0
host: linemanagement.api-product.pes-prod.nike.com
schemes:
  - https
basePath: /v1
produces:
  - application/json
paths:

# Entity Methods
  /lineManagement/data/productOfferings/global/{objectId}:
    get:
      summary: Global Offering Data
      description: How you get a single global offering.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Line Management Product Offering ID)
          required: true
          type: integer
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - poCore
            - poRestricted
            - poMarketingType
            - poMarketing
            - poDevelopment
            - poResources
            - poSample
            - poStatus
            - poAudit
            - pCore
            - pInitialSeason
            - pSize
            - pColor
            - pTeam
            - pConfidentiality
            - pLifeCycle
            - pClassification
            - pStatus
            - pAudit
            - sCore
            - sInitialSeason
            - sDescription
            - sClassification
            - sHarmonized
            - sPhysicalDescriptor
            - sSize
            - sMeasurement
            - sLicense
            - sTeam
            - sTechnology
            - sGroup
            - sStatus
            - sAudit
            - moCore
            - moGroup
            - moGlobalPrice
            - moLineEvolution
            - moConfidentiality
            - moResources
            - moSustainabilityIndexScore
            - moForecast
            - moTier
            - moConsumer
            - moMarketing
            - moSponsor
            - moStatus
            - moAudit
            - mCore
            - mInitialSeason
            - mGroup
            - mClassification
            - mAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Global Offering
      responses:
        '200':
          description: Returns response object which contains global offering core with requested data units
          schema:
            $ref: '#/definitions/globalOfferingResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

  /lineManagement/data/productOfferings/global:
    get:
      summary: Global Offering Data (Bulk)
      description: How you get global offering in a Bulk fashion.
      parameters:
        - name: objectId
          in: query
          description: A comma separated list of Ids of the object (in this case Line Management Product Offering ID)
          required: true
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: csv
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - poCore
            - poRestricted
            - poMarketingType
            - poMarketing
            - poDevelopment
            - poResources
            - poSample
            - poStatus
            - poAudit
            - pCore
            - pInitialSeason
            - pSize
            - pColor
            - pTeam
            - pConfidentiality
            - pLifeCycle
            - pClassification
            - pStatus
            - pAudit
            - sCore
            - sInitialSeason
            - sDescription
            - sClassification
            - sHarmonized
            - sPhysicalDescriptor
            - sSize
            - sMeasurement
            - sLicense
            - sTeam
            - sTechnology
            - sGroup
            - sStatus
            - sAudit
            - moCore
            - moGroup
            - moGlobalPrice
            - moLineEvolution
            - moConfidentiality
            - moResources
            - moSustainabilityIndexScore
            - moForecast
            - moTier
            - moConsumer
            - moMarketing
            - moSponsor
            - moStatus
            - moAudit
            - mCore
            - mInitialSeason
            - mGroup
            - mClassification
            - mAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Global Offering
      responses:
        '200':
          description: Returns response object which contains global offering core with requested data units
          schema:
            $ref: '#/definitions/globalOfferingBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: You have requested a data unit that does not exist or the number of IDs requested exceeded the maximum number allowed.  Each bulk request should not exceed 25 Object IDs.
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]


# Entity Methods - Geography

  /lineManagement/data/productOfferings/geography/{objectId}:
    get:
      summary: Geography Offering Data
      description: How you get a single Geography Offering data.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Line Management Geography Product Offering ID)
          required: true
          type: integer
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - gpoCore
            - gpoRestricted
            - gpoMarketingType
            - gpoMarketing
            - gpoSize
            - gpoSample
            - gpoForecast
            - gpoStatus
            - gpoAudit
            - gmoCore
            - gmoPrice
            - gmoResources
            - gmoForecast
            - gmoTerritoryForecast
            - gmoStatus
            - gmoAudit
            #  Decisions - Geography Data Contracts
            #  core data units of model, style and product shall be included in the geography business units. Other data units from model, style and product will remain available as optional and can be requested
            - pCore
            - pInitialSeason
            - pSize
            - pColor
            - pTeam
            - pConfidentiality
            - pLifeCycle
            - pClassification
            - pStatus
            - pAudit
            - sCore
            - sInitialSeason
            - sDescription
            - sClassification
            - sHarmonized
            - sPhysicalDescriptor
            - sSize
            - sMeasurement
            - sLicense
            - sTeam
            - sTechnology
            - sGroup
            - sStatus
            - sAudit
            - mCore
            - mInitialSeason
            - mGroup
            - mClassification
            - mAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Geography Offering
      responses:
        '200':
          description: Returns response object which contains geography offering core with requested data units
          schema:
            $ref: '#/definitions/geographyOfferingResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

  /lineManagement/data/productOfferings/geography:
    get:
      summary: Geography Offering Data (Bulk)
      description: How you get geography offering in a Bulk fashion.
      parameters:
        - name: objectId
          in: query
          description: A comma separated list of Ids of the object (in this case Line Management Geography Product Offering ID)
          required: true
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: csv
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - gpoCore
            - gpoRestricted
            - gpoMarketingType
            - gpoMarketing
            - gpoSize
            - gpoSample
            - gpoForecast
            - gpoStatus
            - gpoAudit
            - gmoCore
            - gmoPrice
            - gmoResources
            - gmoForecast
            - gmoTerritoryForecast
            - gmoStatus
            - gmoAudit
            #  Decisions - Geography Data Contracts
            #  core data units of model, style and product shall be included in the geography business units. Other data units from model, style and product will remain available as optional and can be requested
            - pCore
            - pInitialSeason
            - pSize
            - pColor
            - pTeam
            - pConfidentiality
            - pLifeCycle
            - pClassification
            - pStatus
            - pAudit
            - sCore
            - sInitialSeason
            - sDescription
            - sClassification
            - sHarmonized
            - sPhysicalDescriptor
            - sSize
            - sMeasurement
            - sLicense
            - sTeam
            - sTechnology
            - sGroup
            - sStatus
            - sAudit
            - mCore
            - mInitialSeason
            - mGroup
            - mClassification
            - mAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Geography Offering
      responses:
        '200':
          description: Returns response object which contains geography offering core with requested data units
          schema:
            $ref: '#/definitions/geographyOfferingBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: You have requested a data unit that does not exist or the number of IDs requested exceeded the maximum number allowed.  Each bulk request should not exceed 25 Object IDs.
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

# Entity Methods - Country

  /lineManagement/data/productOfferings/country/{objectId}:
    get:
      summary: Country Offering Data
      description: How you get a single Country Offering data.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Line Management Country Product Offering ID)
          required: true
          type: integer
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - cpoCore
            - cpoOfferDates
            - cpoMarketingType
            - cpoMarketing
            - cpoSize
            - cpoSample
            - cpoForecast
            - cpoStatus
            - cpoTranslation
            - cpoAudit
            - prodRegion
            - cmoCore
            - cmoForecast
            - cmoStatus
            - cmoAudit
            #  Decisions - Country Data Contracts
            #  core data units of model, style and product shall be included in the country business units. Other data units from model, style and product will remain available as optional and can be requested
            - pCore
            - pInitialSeason
            - pSize
            - pColor
            - pTeam
            - pConfidentiality
            - pLifeCycle
            - pClassification
            - pStatus
            - pAudit
            - sCore
            - sInitialSeason
            - sDescription
            - sClassification
            - sHarmonized
            - sPhysicalDescriptor
            - sSize
            - sMeasurement
            - sLicense
            - sTeam
            - sTechnology
            - sGroup
            - sStatus
            - sAudit
            - mCore
            - mInitialSeason
            - mGroup
            - mClassification
            - mAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Country Offering
      responses:
        '200':
          description: Returns response object which contains country offering core with requested data units
          schema:
            $ref: '#/definitions/countryOfferingResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

  /lineManagement/data/productOfferings/country:
    get:
      summary: Country Offering Data (Bulk)
      description: How you get country offering in a Bulk fashion.
      parameters:
        - name: objectId
          in: query
          description: A comma separated list of Ids of the object (in this case Line Management Country Product Offering ID)
          required: true
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: csv
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - cpoCore
            - cpoOfferDates
            - cpoMarketingType
            - cpoMarketing
            - cpoSize
            - cpoSample
            - cpoForecast
            - cpoStatus
            - cpoTranslation
            - cpoAudit
            - prodRegion
            - cmoCore
            - cmoForecast
            - cmoStatus
            - cmoAudit
            #  Decisions - Country Data Contracts
            #  core data units of model, style and product shall be included in the country business units. Other data units from model, style and product will remain available as optional and can be requested
            - pCore
            - pInitialSeason
            - pSize
            - pColor
            - pTeam
            - pConfidentiality
            - pLifeCycle
            - pClassification
            - pStatus
            - pAudit
            - sCore
            - sInitialSeason
            - sDescription
            - sClassification
            - sHarmonized
            - sPhysicalDescriptor
            - sSize
            - sMeasurement
            - sLicense
            - sTeam
            - sTechnology
            - sGroup
            - sStatus
            - sAudit
            - mCore
            - mInitialSeason
            - mGroup
            - mClassification
            - mAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Country Offering
      responses:
        '200':
          description: Returns response object which contains country offering core with requested data units
          schema:
            $ref: '#/definitions/countryOfferingBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: You have requested a data unit that does not exist or the number of IDs requested exceeded the maximum number allowed.  Each bulk request should not exceed 25 Object IDs.
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

# Entity Methods - Country Price

  /lineManagement/data/productOfferings/country/{objectId}/prices:
    get:
      summary: Country Product Offering Price Data
      description: How you get Country Product Offering Price data.  Source data is CDB.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Line Management Country Product Offering ID)
          required: true
          type: integer
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - cpopCore
            - cpopPriceList
            - cpopAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Country Product Offering Price
      responses:
        '200':
          description: Returns response object which contains country product offering price core with requested data units
          schema:
            $ref: '#/definitions/countryPriceResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

  /lineManagement/data/productOfferings/country/prices:
    get:
      summary: Country Product Offering Price Data (Bulk)
      description: How you get country product offering price in a Bulk fashion.
      parameters:
        - name: objectId
          in: query
          description: A comma separated list of Ids of the object (in this case Line Management Country Product Offering ID)
          required: true
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: csv
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - cpopCore
            - cpopPriceList
            - cpopAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Country Product Offering Price
      responses:
        '200':
          description: Returns response object which contains country product offering price core with requested data units
          schema:
            $ref: '#/definitions/countryPriceBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: You have requested a data unit that does not exist or the number of IDs requested exceeded the maximum number allowed.  Each bulk request should not exceed 25 Object IDs.
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

# No need for relationship method for Country Product Offering Price since this is the lowest level of granularity and no children.

# Entity Methods - Country Product and Style Translation

  /lineManagement/data/productStyleTranslations/{objectId}:
    get:
      summary: Product and Style Translation Data
      description: How you get product and style translation data by country and language.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Product ID)
          required: true
          type: integer
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - ctCore
            - ctStyle
            - ctFabric
            - ctProduct
            - ctAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Country Product Style Translation
      responses:
        '200':
          description: Returns response object which contains country product translation core with requested data units
          schema:
            $ref: '#/definitions/productStyleTranslationsResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

  /lineManagement/data/productStyleTranslations:
    get:
      summary: Product and Style Translation Data
      description: How you get product and style translation data by country and language in a Bulk fashion.
      parameters:
        - name: objectId
          in: query
          description: A comma separated list of Ids of the object (in this case Product ID)
          required: true
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: csv
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - ctCore
            - ctStyle
            - ctFabric
            - ctProduct
            - ctAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Country Product Style Translation
      responses:
        '200':
          description: Returns response object which contains country product translation core with requested data units
          schema:
            $ref: '#/definitions/productStyleTranslationsBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: You have requested a data unit that does not exist or the number of IDs requested exceeded the maximum number allowed.  Each bulk request should not exceed 25 Object IDs.
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

# No need for relationship method for Product Style Translation since this is the lowest level of granularity and no children.

# Entity Methods - Product Size GTIN

  /lineManagement/data/productSizesGTIN/{objectId}:
    get:
      summary: Product Size and GTIN (UPC) Data
      description: How you get GTIN data by size including alternate sizes.  Source data is CDB.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Product ID)
          required: true
          type: integer
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - gtinCore
            - gtinSize
            - gtinAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Product Size GTIN (UPC)
      responses:
        '200':
          description: Returns response object which contains product size GTIN core with requested data units
          schema:
            $ref: '#/definitions/productSizeGTINResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

  /lineManagement/data/productSizesGTIN:
    get:
      summary: Product Size and GTIN (UPC) Data (Bulk)
      description: How you get GTIN data by size including alternate sizes in a Bulk fashion.
      parameters:
        - name: objectId
          in: query
          description: A comma separated list of Ids of the object (in this case Product ID)
          required: true
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: csv
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - gtinCore
            - gtinSize
            - gtinAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Product Size GTIN (UPC)
      responses:
        '200':
          description: Returns response object which contains product size GTIN core with requested data units
          schema:
            $ref: '#/definitions/productSizeGTINBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: You have requested a data unit that does not exist or the number of IDs requested exceeded the maximum number allowed.  Each bulk request should not exceed 25 Object IDs.
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

# No need for relationship method for Product Size GTIN since this is the lowest level of granularity and no children.

# Entity Methods - Line Management Product Region

  /lineManagement/data/productRegions/{objectId}:
    get:
      summary: Product Region data from CDB for Line Management
      description: How you get Product Region data from CDB for Line Management
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case the ID will be a combination of Product ID and Region)
          required: true
          type: integer
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - prCore
            - prLifecycle
            - prPrice
            - prMarketing
            - prRebuy
            - prCMP
            - prBlank
            - prPrePack
            - prAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Product Region Line Management
      responses:
        '200':
          description: Returns response object which contains product region core for Line Management with requested data units
          schema:
            $ref: '#/definitions/productRegionLMResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

  /lineManagement/data/productRegions/:
    get:
      summary: Product Region data from CDB for Line Management
      description: How you get Product Region data from CDB for Line Management in a Bulk fashion.
      parameters:
        - name: objectId
          in: query
          description: A comma separated list of Ids of the object (in this case Product ID)
          required: true
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: csv
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - prCore
            - prLifecycle
            - prPrice
            - prMarketing
            - prRebuy
            - prCMP
            - prBlank
            - prPrePack
            - prAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Product Region Line Management
      responses:
        '200':
          description: Returns response object which contains product region core for Line Management with requested data units
          schema:
            $ref: '#/definitions/productRegionLMBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: You have requested a data unit that does not exist or the number of IDs requested exceeded the maximum number allowed.  Each bulk request should not exceed 25 Object IDs.
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

# No need for relationship method for Product Region LM for now

# Entity Methods - Supply Chain Product Region

  /supplyChainEnablement/data/productRegions/{objectId}:
    get:
      summary: Product Region data from CDB for Supply Chain
      description: How you get Product Region data from CDB for Supply Chain
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case the ID will be a combination of Product ID and Region)
          required: true
          type: integer
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - prCore
            - prSalesOrg
            - prDeliverySeason
            - prUnavailable
            - prAlwaysAvailable
            - prRefill
            - prAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Product Region Supply Chain
      responses:
        '200':
          description: Returns response object which contains product region core for Supply Chain with requested data units
          schema:
            $ref: '#/definitions/productRegionSCResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

  /supplyChainEnablement/data/productRegions/:
    get:
      summary: Product Region data from CDB for Supply Chain
      description: How you get Product Region data from CDB for Supply Chain in a Bulk fashion.
      parameters:
        - name: objectId
          in: query
          description: A comma separated list of Ids of the object (in this case Product ID)
          required: true
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: csv
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - prCore
            - prSalesOrg
            - prDeliverySeason
            - prUnavailable
            - prAlwaysAvailable
            - prRefill
            - prAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Product Region Supply Chain
      responses:
        '200':
          description: Returns response object which contains product region core for Supply Chain with requested data units
          schema:
            $ref: '#/definitions/productRegionSCBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: You have requested a data unit that does not exist or the number of IDs requested exceeded the maximum number allowed.  Each bulk request should not exceed 25 Object IDs.
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

# No need for relationship method for Product Region SC for now

# Entity Methods - Product Size NRF

  /salesOperations/data/productSizesNRF/{objectId}:
    get:
      summary: Product Size NRF Data
      description: How you get NRF data by size.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Product ID)
          required: true
          type: integer
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - sopCore
            - sopAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Product Size NRF
      responses:
        '200':
          description: Returns response object which contains product size NRF core with requested data units
          schema:
            $ref: '#/definitions/productSizeNRFResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

  /salesOperations/data/productSizesNRF/:
    get:
      summary: Product Size NRF Data
      description: How you get NRF data by size in a Bulk fashion.
      parameters:
        - name: objectId
          in: query
          description: A comma separated list of Ids of the object (in this case Product ID)
          required: true
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: csv
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - sopCore
            - sopAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Product Size NRF
      responses:
        '200':
          description: Returns response object which contains product size NRF core with requested data units
          schema:
            $ref: '#/definitions/productSizeNRFBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: You have requested a data unit that does not exist or the number of IDs requested exceeded the maximum number allowed.  Each bulk request should not exceed 25 Object IDs.
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

# No need for relationship method for Product Size NRF since this is the lowest level of granularity and no children.

# Entity Methods - Product StyleFEDAS

  /lineManagement/data/productStylesFEDAS/{objectId}:
    get:
      summary: Product Style FEDAS Code
      description: How you get FEDAS Code by style.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Style Number)
          required: true
          type: integer
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - fedasCore
            - fedasAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Product Style FEDAS
      responses:
        '200':
          description: Returns response object which contains product size NRF core with requested data units
          schema:
            $ref: '#/definitions/productStyleFEDASResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

  /lineManagement/data/productStylesFEDAS/:
    get:
      summary: Product Style FEDAS Code
      description: How you get FEDAS Code by style in a Bulk fashion.
      parameters:
        - name: objectId
          in: query
          description: A comma separated list of Ids of the object (in this case Style Number)
          required: true
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: csv
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - fedasCore
            - fedasAudit
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Product Style FEDAS
      responses:
        '200':
          description: Returns response object which contains product size NRF core with requested data units
          schema:
            $ref: '#/definitions/productStyleFEDASBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: You have requested a data unit that does not exist or the number of IDs requested exceeded the maximum number allowed.  Each bulk request should not exceed 25 Object IDs.
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
      security:
        - nike_auth: [read]

# No need for relationship method for Product Style FEDAS since this is the lowest level of granularity and no children.

# Search Methods

  /lineManagement/search/productOfferings/global:
    get:
      summary: Global Offering Search
      description: How you search against all fields contained within the Line Management Global Offering entity
      parameters:
        - name: count
          in: query
          description: "Number of entries the API should attempt to fetch, default is 10"
          required: false
          type: integer
        - name: offset
          in: query
          description: "Offset of the entries the API should attempt to fetch, default is 0"
          required: false
          type: integer
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
        - name: q
          in: query
          description: 'This parameter is how you pass free text search, if any string is passed here it will be searched as free text'
          required: false
          type: string
  # Enum for search
  # by Start and End Time - for Changes within a time frame
        - name: changeStartTime
          in: query
          required: false
          type: string
          format: date-time
          collectionFormat: csv
          description: 'This is the Start Date Time (in ISO 8601 format) parameter to search for any Global Product Offering object changes within a specified time frame'
        - name: changeEndTime
          in: query
          required: false
          type: string
          format: date-time
          collectionFormat: csv
          description: 'This is the End Date Time (in ISO 8601 format) parameter to search for any Global Product Offering object changes within a specified time frame'
  # po
        - name: productIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FProduct%2520Identifier">Definition</a>'
        - name: modelOfferingIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FModel%2520Offering%2520Identifier">Definition</a>'
        - name: earliestAllowedOfferDate
          in: query
          required: false
          type: array
          items:
            type: string
            format: date
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FEarliest%2520Allowed%2520Offer%2520Date">Definition</a>'
        - name: restrictedToLocation
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FMarketing%2520Type%2520Restricted%2520To%2520Location%2520Identifier">Definition</a>'
        - name: marketingInitiative
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FConcept%252FMarketing%2520Initiative">Definition</a>'
        - name: alternateMarketingType
          in: query
          required: false
          type: array
          items:
            type: integer
          description: 'The true or false flag associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FConcept%252FAlternate%2520Marketing%2520Type">Definition</a>'
        - name: productAlternateTypeGroup
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FMarketing%2520Type%2520Group%2520Code">Definition</a>'
        - name: specialOfferingType
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FConcept%252FSpecial%2520Offering%2520Type">Definition</a>'
        - name: launch
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FLaunch%2520Code">Definition</a>'
        - name: primaryMarketingType
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FMarketing%2520Type%2520Identifier">Definition</a>'
        - name: productTypeGroup
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FMarketing%2520Type%2520Group%2520Code">Definition</a>'
        - name: alwaysAvailableGlobalIndicator
          in: query
          required: false
          type: boolean
          description: 'The true or false flag associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FAlways%2520Available%2520Global%2520Indicator">Definition</a>'
        - name: smuAccount
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FSpecial%2520Make-up%2520Account%2520Code">Definition</a>'
        - name: developmentTeam
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FDevelopment%2520Team%2520Identifier">Definition</a>'
        - name: initiatingProductLineManagerUserAccountCode
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FInitiating%2520Product%2520Line%2520Manager%2520User%2520Code">Definition</a>'
        - name: categoryInformationAnalystUserCode
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FProduct%2520Creation%2520Initiator%2520Identifier">Definition</a>'
        - name: productCreationInitiator
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FProduct%2520Creation%2520Initiator%2520Identifier">Definition</a>'
        - name: salesSampleTypeDescription
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FSales%2520Sample%2520Indicator">Definition</a>'
        - name: SAMMSampleTypeDescription
          in: query
          required: false
          type: array
          items:
            type: integer
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FSeasonal%2520Alignment%2520Merchandising%2520Meeting%2520Sample%2520Indicator">Definition</a>'
        - name: salesSampleSizeDescription
          in: query
          required: false
          type: array
          items:
            type: string
          description: 'The reference key associated with this item: <a target="_blank" http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FSales%2520Sample%2520Size%2520Description">Definition</a>'
        - name: styleCarryoverStatusIndicator
          in: query
          required: false
          type: array
          items:
            type: string
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FProduct%2520Carryover%2520Status%2520Indicator">Definition</a>'
        - name: productCarryoverStatusIndicator
          in: query
          required: false
          type: array
          items:
            type: string
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FProduct%2520Carryover%2520Status%2520Indicator">Definition</a>'
        - name: productOfferingStatusIndicator
          in: query
          required: false
          type: array
          items:
            type: string
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FProduct%2520Offering%2520Status%2520Indicator">Definition</a>'
# product
        - name: modelIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FModel%2520Identifier">Definition</a>'
        - name: productCode
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FProduct%2520Code">Definition</a>'
        - name: styleNumber
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FStyle%2520Code">Definition</a>'
        - name: colorwayCode
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FProduct%2520Colorway%2520Code">Definition</a>'
        - name: dimension
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FDimension%2520Code">Definition</a>'
        - name: fit
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FFit%2520Code">Definition</a>'
        - name: productInitialSeasonYear # references cycleYear
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FConcept%252FStyle%2520Initial%2520Season">Definition</a>'
        - name: masterSizeGrid
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FMaster%2520Size%2520Grid%2520Code">Definition</a>'
        - name: retailSizeRangeDescription
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FRetail%2520Size%2520Range%2520Description">Definition</a>'
        - name: retailSizeRunDescription
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FRetail%2520Size%2520Run%2520Description">Definition</a>'
        - name: retailSizeSelectionList
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FRetail%2520Size%2520Selection%2520List">Definition</a>'
        - name: promoSizeRangeDescription
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FPromotional%2520Size%2520Range%2520Description">Definition</a>'
        - name: promoSizeRunDescription
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FPromo%2520Size%2520Run%2520Description">Definition</a>'
        - name: promoSizeSelectionList
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FPromo%2520Size%2520Selection%2520List">Definition</a>'
        - name: colorwayIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FColorway%2520Identifier">Definition</a>'
        - name: primaryColor #references Color
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FPrimary%2520Color%2520Code">Definition</a>'
        - name: secondaryColor #references color
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FSecondary%2520Color%2520Code">Definition</a>'
        - name: tertiaryColor #references color
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FTertiary%2520Color%2520Code">Definition</a>'
        - name: quaternaryColor #references color
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FQuaternary%2520Color%2520Code">Definition</a>'
        - name: logoColor #references color
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FLogo%2520Color%2520Code">Definition</a>'
        - name: logoAccentColor #references color
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FLogo%2520Accent%2520Color%2520Code">Definition</a>'
        - name: athlete
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FAthlete%2520Identifier">Definition</a>'
        - name: playerwayNumber
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FPlayerway%2520Number">Definition</a>'
        - name: uniformType
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FUniform%2520Type%2520Identifier">Definition</a>'
        - name: royaltyIntentIndicator
          in: query
          required: false
          type: boolean
          description: 'The true or false flag associated with this item: <a target="_blank" href ="http://nke-lnx-int-q013:10250/mm/#browse___glossary___MM%252FNike%2520Approved%2520Terms%252FBusiness%2520Term%252FRoyalty%2520Intent%2520Indicator">Definition</a>'
        - name: productLifecycle
          in: query
          required: false
          type: array
[...]
