swagger: "2.0"
info:
  title: Material Management Service
  description: This is the API for the Material Management and Material Procurement entities and should be the way to get or search various Material data.
  version: 3.1.0
host: materialmanagement.api-product.pes-prod.nike.com
schemes:
  - https
basePath: /v3
produces:
  - application/json
paths:
  # Entity Methods
  /materialManagement/data/materials/{objectId}:
    get:
      summary: Materials Data
      description: How you get a single materials.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Materials)
          required: true
          type: integer
        - name: _dataunits
          in: query
          description: "The data units that would be desired, default returns just core data"
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - matCore
            - matTargetPrice
            - matColorControlMode
            - matPricingMode
            - matFamily
            - matOwner
            - matLegacy
            - matLegacyNumber
            - matLegacyNumberAudit
            - matClassification
            - matInitialSeason
            - matStatus
            - matBOM
            - matComments
            - matArtworkGraphic
            - matAudit
            - matDesignUsageSpecification
            - matContent
            - matLabelContent
            - matDimension
            - matYarnCompositionBreakdown
            - matPlyCompositionBreakdown
            - matFiberCompositionBreakdown
            - matFinishes
            - matTechnology
            - matReleasePaper
            - matCompositeProperties
            - matNonWovenProperties
            - matColorAndDye
            - matActiveUsage
            - matWebFormation
            - matNumberOfColors
            - matLast
            - matLeather
            - matLeatherGrain
            - matLeatherSplit
            - matSyntheticLeather
            - matTextiles
            - matTextilesRib
            - matTextilesFlat
            - matEngineeredStructureTexture
            - matYarn
            - matChemPoly
            - matChemPolyFilm
            - matChemPolyFoam
            - matChemPolyHotmelt
            - matChemPolyPlastic
            - matChemPolyRubber
            - matComponentClassification
            - matComponent
            - matComponentAdjuster
            - matComponentBuckle
            - matComponentButton
            - matComponentTapeSnapTape
            - matComponentCordlockToggle
            - matComponentCounter
            - matComponentElastic
            - matComponentDrawcordAglet
            - matComponentHook
            - matComponentHookLoop
            - matComponentLabel
            - matComponentLace
            - matComponentMagnet
            - matComponentPadding
            - matComponentPinBadge
            - matComponentShankPlates
            - matComponentRing
            - matComponentThread
            - matComponentZipper
            - matComponentZipperPullAttachment
            - matCushioning
            - matInsulationAndPadding
            - matLabelAndPackagingProperties
            - matPackaging
            - matPackagingCard
            - matPackagingCartonInner
            - matPackagingFastener
            - matPackagingHanger
            - matPackagingHangtag
            - matPackagingPartition
            - matPackagingShoebag
            - matPackagingShoeForm
            - matPackagingSticker
            - matPackagingTissue
        - $ref: "#/parameters/traceParam"
        - $ref: "#/parameters/apiKeyParam"
      tags:
        - Materials
      responses:
        "200":
          description: Returns response object which contains materials core with requested data units
          schema:
            $ref: "#/definitions/materialsResponse"
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        "400":
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: "#/definitions/_error"
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        "401":
          description: You are not authorized to access this resource
          schema:
            $ref: "#/definitions/_error"
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        "403":
          description: Access Denied to Object
          schema:
            $ref: "#/definitions/_error"
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        "404":
          description: The object you have requested is not found
          schema:
            $ref: "#/definitions/_error"
        "500":
          description: There has been an internal server error.
        "503":
          description: "The service is overloaded, please contact support"
          schema:
            $ref: "#/definitions/_error"
      security:
        - nike_auth: [read]

  # Relationship Methods

  /materialManagement/data/materials/{objectId}/relationships:
    get:
      summary: Materials Relationships
      description: "How you get all the relationships to the single object requested, in other words the children in the hierarchy to the requested entity"
      parameters:
        - name: objectId
          in: path
          description: The Id of the object (in this case Materials) where the relationships are desired
          required: true
          type: integer
        - name: depth
          in: query
          required: false
          description: "This determines how many levels in the hierarcy you wish to traverse, default is 2"
          type: integer
        - $ref: "#/parameters/traceParam"
        - $ref: "#/parameters/apiKeyParam"
      tags:
        - Materials
        - Relationships
      responses:
        "200":
          description: Returns response object which contains materials core with requested data units
          schema:
            $ref: "#/definitions/relationshipResponse"
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        "204":
          description: The request was successful but we were unable to find any relationships.
          schema:
            $ref: "#/definitions/relationshipResponse"
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        "400":
          description: A data unit that you asked for does not exist
          schema:
            $ref: "#/definitions/_error"
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        "401":
          description: You are not authorized to access this resource
          schema:
            $ref: "#/definitions/_error"
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        "403":
          description: Access Denied to Object
          schema:
            $ref: "#/definitions/_error"
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        "404":
          description: The object you have requested is not found
          schema:
            $ref: "#/definitions/_error"
        "500":
          description: There has been an internal server error.
          schema:
            $ref: "#/definitions/_error"
        "503":
          description: "The service is overloaded, please contact support"
          schema:
            $ref: "#/definitions/_error"
      security:
        - nike_auth: [read]

  /materialManagement/search/materials:
    get:
      summary: Materials Search
      description: How you search against all fields contained within the material entity
      parameters:
        - name: count
          in: query
          description: "Number of entries the API should attempt to fetch, default is 10"
          required: false
          type: integer
        - name: offset
          in: query
          description: "Offset of the entries the API should attempt to fetch, default is 0"
          required: false
          type: integer
        - $ref: "#/parameters/traceParam"
        - $ref: "#/parameters/apiKeyParam"
        - name: q
          in: query
          description: "This parameter is how you pass free text search, if any string is passed here it will be searched as free text"
          required: false
          type: string
        # Enum for search
        - name: parentMaterialItemIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: parentMaterialItemIdentifier"
        - name: materialType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: Material Type"
        - name: customsDescription
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The value associated with this item: customsDescription"
        - name: developmentTeam
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The value associated with this item: developmentTeam"
        - name: materialNameVariationWeight
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: materialNameVariationWeight"
        - name: materialNameVariationVisual
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: materialNameVariationVisual"
        - name: targetPrice
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for targetPrice"
        - name: targetPriceUOM
          in: query
          required: false
          type: array
          items:
            type: string # varchar
          collectionFormat: csv
          description: "The reference key associated with this item: targetPriceUOM"
        - name: materialColorControlMode
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: "The reference key associated with this item: materialColorControlMode"
        - name: materialPricingMode
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: materialPricingMode"
        - name: legacyCreatedOnDate
          in: query
          required: false
          type: array
          items:
            type: string
            format: date # date
          collectionFormat: csv
          description: "The reference key associated with this item: legacyCreatedOnDate"
        - name: legacyMaterialNumber
          in: query
          required: false
          type: array
          items:
            type: string # varchar(4000)
          collectionFormat: csv
          description: "The reference key associated with this item: legacyMaterialNumber"
        - name: apparelPDMMaterialNumber
          in: query
          required: false
          type: array
          items:
            type: string # varchar(4000)
          collectionFormat: csv
          description: "The value associated with this item: apparelPDMMaterialNumber"
        - name: division
          in: query
          required: false
          type: array
          items:
            type: string # varchar(2)
          collectionFormat: csv
          description: "The reference key associated with this item: #N/A"
        - name: materialDevelopmentTeam
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: materialDevelopmentTeam"
        - name: targetStyle
          in: query
          required: false
          type: array
          items:
            type: string # varchar(6)
          collectionFormat: csv
          description: "The value associated with this item: targetStyle"
        - name: materialInitialCategory
          in: query
          required: false
          type: array
          items:
            type: string # varchar(6)
          collectionFormat: csv
          description: "The reference key associated with this item: materialInitialCategory"
        - name: materialInitialCycleYear
          in: query
          required: false
          type: array
          items:
            type: string # varchar(6)
          collectionFormat: csv
          description: "The reference key associated with this item: materialInitialCycleYear"
        - name: materialTargetCycleYear
          in: query
          required: false
          type: array
          items:
            type: string # varchar(6)
          collectionFormat: csv
          description: "The reference key associated with this item: materialTargetCycleYear"
        - name: materialItemStatusIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: materialItemStatusIndicator"
        - name: materialBOMIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: materialBOMIndicator"
        - name: createTimestamp
          in: query
          required: false
          type: array
          items:
            type: string
            format: date-time # Timestamp(6)
          collectionFormat: csv
          description: "The reference key associated with this item: Material Change Timestamp"
        - name: changeTimestamp
          in: query
          required: false
          type: array
          items:
            type: string
            format: date-time # Timestamp(6)
          collectionFormat: csv
          description: "The reference key associated with this item: Material Change Timestamp"
        - name: materialContentPercentage
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for materialContentPercentage"
        - name: materialContentType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: materialContentType"
        - name: materialContentSource
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: materialContentSource"
        - name: materialLabelContentPercentage
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for materialLabelContentPercentage"
        - name: materialLabelContentType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: materialLabelContentType"
        - name: materialLabelContentSource
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: materialLabelContentSource"
        - name: materialFamily
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: materialFamily"
        - name: materialOwner
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: materialOwner"
        - name: artworkGraphic
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: artworkGraphic"
        - name: artworkTechnique
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: artworkTechnique"
        - name: secondaryProcessIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: secondaryProcessIndicator"
        - name: artworkApplicationLocation
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: artworkApplicationLocation"
        - name: artworkRepeatLengthCm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for artworkRepeatLengthCm"
        - name: directionalPatternIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: directionalPatternIndicator"
        - name: garmentLocationPlacement
          in: query
          required: false
          type: array
          items:
            type: string # varchar(6)
          collectionFormat: csv
          description: "The value associated with this item: garmentLocationPlacement"
        - name: endUse
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: endUse"
        - name: developmentReason
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: developmentReason"
        - name: materialBenefits
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: materialBenefits"
        - name: fabricFaceDesignation
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: fabricFaceDesignation"
        - name: stretchDirection
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: stretchDirection"
        - name: thicknessMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for thicknessMm"
        - name: thicknessSelection
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: thicknessSelection"
        - name: maximumThicknessMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for maximumThicknessMm"
        - name: minimumThicknessMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for maximumThicknessMm"
        - name: lengthMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for lengthMm"
        - name: lengthCm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for lengthCm"
        - name: dimensionWidthIndicator
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: dimensionWidthIndicator"
        - name: widthMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for widthMm"
        - name: widthCm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for widthCm"
        - name: heightMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for heightMm"
        - name: heightCm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for heightCm"
        - name: weightGramsPerSquareMeter
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for weightGramsPerSquareMeter"
        - name: externalDiameterMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for externalDiameterMm"
        - name: externalLengthMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for externalLengthMm"
        - name: externalWidthMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for externalWidthMm"
        - name: internalDiameterMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for internalDiameterMm"
        - name: internalLengthMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for internalLengthMm"
        - name: internalWidthMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for internalWidthMm"
        - name: gaugeInch
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for gaugeInch"
        - name: gramsPerThousandPieces
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for gramsPerThousandPieces"
        - name: weightGramsPerThousandPieces
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "Weight (grams per 1000 pieces)"
        - name: weightGramsPerLinearYard
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "Weight (grams per linear yard)"
        - name: weightGramsPerLinearMeter
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "Weight (grams per linear meter)"
        - name: yarnCompositionContentPercentage
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for yarnCompositionContentPercentage"
        - name: yarnCompositionContentType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnCompositionContentType"
        - name: yarnCompositionContentSource
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnCompositionContentSource"
        - name: yarnCompositionLocation
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnCompositionLocation"
        - name: yarnCompositionType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnCompositionType"
        - name: yarnCompositionSize
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for yarnCompositionSize"
        - name: yarnCompositionSpinningMethod
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnCompositionSpinningMethod"
        - name: yarnCompositionCount
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The The number (integer) for yarnCompositionCount"
        - name: yarnCompositionPreparation
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnCompositionPreparation"
        - name: yarnCompositionCrossSection
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnCompositionCrossSection"
        - name: yarnCompositionFilamentCount
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: "The number (integer) for yarnCompositionFilamentCount"
        - name: yarnCompositionNumberSystem
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnCompositionNumberSystem"
        - name: yarnCompositionLuster
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnCompositionLuster"
        - name: yarnCompositionBrand
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnCompositionBrand"
        - name: yarnCompositionTexture
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnCompositionTexture"
        - name: yarnCompositionTwist
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnCompositionTwist"
        - name: yarnCompositionFinishProcess
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnCompositionFinishProcess"
        - name: yarnCompositionDyeMethod
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnCompositionDyeMethod"
        - name: yarnCompositionVisualEffect
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnCompositionVisualEffect"
        - name: yarnCompositionFixedColor
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnCompositionFixedColor"
        - name: yarnCompositionUsagePercentage
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for yarnCompositionUsagePercentage"
        - name: plyContentPercentage
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for plyContentPercentage"
        - name: plyContentType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: plyContentType"
        - name: plyContentSource
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: plyContentSource"
        - name: plyLocation
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: plyLocation"
        - name: plyType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: plyType"
        - name: plyBrand
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: plyBrand"
        - name: plySize
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for plySize"
        - name: plyNumberSystem
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: plyNumberSystem"
        - name: plyCrossSection
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: plyCrossSection"
        - name: plySpinningMethod
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: plySpinningMethod"
        - name: plyFilamentCount
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: "The number (integer) for plyFilamentCount"
        - name: plyTwist
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: plyTwist"
        - name: plyLuster
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: plyLuster"
        - name: plyTexture
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: plyTexture"
        - name: plyFinishProcess
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: plyFinishProcess"
        - name: plyDyeMethod
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: plyDyeMethod"
        - name: plyVisualEffect
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: plyVisualEffect"
        - name: plyFixedColor
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: plyFixedColor"
        - name: plyUsagePercentage
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for plyUsagePercentage"
        - name: fiberContentPercentage
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for fiberContentPercentage"
        - name: fiberContentType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: fiberContentType"
        - name: fiberContentSource
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: fiberContentSource"
        - name: fiberSize
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for fiberSize"
        - name: fiberPlyLocation
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: fiberPlyLocation"
        - name: fiberStapleNumberSystem
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: fiberStapleNumberSystem"
        - name: fiberStapleLength
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for fiberStapleLength"
        - name: fiberStapleLengthMin
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for fiberStapleLengthMin"
        - name: fiberStapleLengthMax
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for fiberStapleLengthMax"
        - name: fiberDiameter
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for fiberDiameter"
        - name: fiberDiameterMin
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for fiberDiameterMin"
        - name: fiberDiameterMax
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for fiberDiameterMax"
        - name: fiberDiameterUnit
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: fiberDiameterUnit"
        - name: fiberPreparation
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: fiberPreparation"
        - name: fiberCrossSection
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: fiberCrossSection"
        - name: fiberLuster
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: fiberLuster"
        - name: fiberFinishProcess
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: fiberFinishProcess"
        - name: fiberDyeMethod
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: fiberDyeMethod"
        - name: fiberUsagePercentage
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for fiberUsagePercentage"
        - name: edgeFinish
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: edgeFinish"
        - name: visualEffect
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: visualEffect"
        - name: visualEffectLocation
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: visualEffectLocation"
        - name: applicationTechnique
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: applicationTechnique"
        - name: finishProcess
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: finishProcess"
        - name: finishLocation
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: finishLocation"
        - name: numberOfPasses
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The number (integer) for numberOfPasses"
        - name: materialTechnologies
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: materialTechnology"
        - name: releasePaperCode
          in: query
          required: false
          type: array
          items:
            type: string # varchar(2000)
          collectionFormat: csv
          description: "The code associated with this item: releasePaperCode"
        - name: releasePaperOne
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The material Id for releasePaperOne"
        - name: releasePaperTwo
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The material Id for releasePaperTwo"
        - name: releasePaperSideOne
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: releasePaperSideOne"
        - name: releasePaperSideTwo
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: releasePaperSideTwo"
        - name: releasePaperFinishProcess
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: releasePaperFinishProcess"
        - name: topLayerMaterialItem
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The material Id for topLayerMaterialItem"
        - name: middleLayer1MaterialItem
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The material Id for middleLayer1MaterialItem"
        - name: middleLayer2MaterialItem
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The material Id for middleLayer2MaterialItem"
        - name: middleLayer3MaterialItem
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The material Id for middleLayer3MaterialItem"
        - name: bottomLayerMaterialItem
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The material Id for bottomLayerMaterialItem"
        - name: nonWovenSubstrateType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: nonWovenSubstrateType"
        - name: nonWovenWebBondingMethod
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: nonWovenWebBondingMethod"
        - name: colorDominance
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: colorDominance"
        - name: colorEffect
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: colorEffect"
        - name: colorPosition
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: colorPosition"
        - name: colorLocation
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: colorLocation"
        - name: colorCallout
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: colorCallout"
        - name: colorFiber
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: colorFiber"
        - name: dyeMethod
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: dyeMethod"
        - name: dyeType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: dyeType"
        - name: activeCategory
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: activeCategory"
        - name: activeCycleYear
          in: query
          required: false
          type: array
          items:
            type: string # varchar (6)
          collectionFormat: csv
          description: "The reference key associated with this item: activeCycleYear"
        - name: webFormation
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: webFormation"
        - name: numberOfColors
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: numberOfColors"
        - name: lastIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The last identifier"
        - name: animalSource
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: animalSource"
        - name: dyedThroughCrustIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: dyedThroughCrustIndicator"
        - name: oilContent
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The reference key associated with this item: oilContent"
        - name: reTannage
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: reTannage"
        - name: washableIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: washableIndicator"
        - name: compositionLeatherType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: compositionLeatherType"
        - name: grainLeatherType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: grainLeatherType"
        - name: grainLeatherSubType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: grainLeatherSubType"
        - name: splitLeatherType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: splitLeatherType"
        - name: averagePUThickness
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for averagePUThickness"
        - name: coatingThicknessMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for coatingThicknessMm"
        - name: moldable
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: moldable"
        - name: substrateProcessingType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: substrateProcessingType"
        - name: substratePUDippedIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: substratePUDippedIndicator"
        - name: substrateConstruction
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: substrateConstruction"
        - name: textileConstructionType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: textileConstructionType"
        - name: textileSubVariation
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: textileSubVariation"
        - name: textileSubVariationTwo
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: textileSubVariationTwo"
        - name: textileVariation
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: textileVariation"
        - name: endsPerInchNumber
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The number of endsPerInchNumber"
        - name: picksPerInchNumber
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The number of picksPerInchNumber"
        - name: machineryType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: machineryType"
        - name: warpCount
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The number of warpCount"
        - name: weftCount
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The number of weftCount"
        - name: twillConstructionType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: twillConstructionType"
        - name: twillDirection
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: twillDirection"
        - name: foldIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: foldIndicator"
        - name: ribConstruction
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: ribConstruction"
        - name: heightIndicator
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: heightIndicator"
        - name: rowsOfSpandex
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The number of rowsOfSpandex"
        - name: partTypeOrientation
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: partTypeOrientation"
        - name: initialDevelopmentProductAlias
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: "The string value associated with this item: initialDevelopmentProductAlias"
        - name: preTwistYarn
          in: query
          required: false
          type: array
          items:
            type: boolean # boolean
          collectionFormat: csv
          description: "The reference key associated with this item: preTwistYarn"
        - name: program
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: programIdentifier"
        - name: steamMethod
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: steamMethod"
        - name: structureTestingReference
          in: query
          required: false
          type: array
          items:
            type: boolean # boolean
          collectionFormat: csv
          description: "The reference key associated with this item: structureTestingReference"
        - name: structureReferenceNumber
          in: query
          required: false
          type: array
          items:
            type: string # varchar(4000)
          collectionFormat: csv
          description: "The reference key associated with this item: structureReferenceNumber"
        - name: structureCoverage
          in: query
          required: false
          type: array
          items:
            type: boolean # boolean
          collectionFormat: csv
          description: "The reference key associated with this item: structureCoverage"
        - name: blanketNumber
          in: query
          required: false
          type: array
          items:
            type: string # varchar(4000)
          collectionFormat: csv
          description: "The reference key associated with this item: blanketNumber"
        - name: yarnSize
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) of yarnSize"
        - name: yarnSpinningMethod
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnSpinningMethod"
        - name: allPlysTheSameIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: allPlysTheSameIndicator"
        - name: fancyYarn
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: fancyYarn"
        - name: fixedColor
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: fixedColor"
        - name: yarnBrand
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnBrand"
        - name: yarnNumberSystem
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnNumberSystem"
        - name: yarnTwist
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnTwist"
        - name: yarnPlyCount
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The number of yarnPlyCount"
        - name: yarnType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnType"
        - name: yarnLuster
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnLuster"
        - name: yarnFinishProcess
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnFinishProcess"
        - name: yarnDyeMethod
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnDyeMethod"
        - name: yarnVisualEffect
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnVisualEffect"
        - name: yarnNumberOfEnds
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The number of yarnNumberOfEnds"
        - name: yarnFilamentCount
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The number of yarnFilamentCount"
        - name: yarnCoveringMethod
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnCoveringMethod"
        - name: yarnTexture
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnTexture"
        - name: microfiberIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: microfiberIndicator"
        - name: yarnPreparation
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnPreparation"
        - name: yarnCrossSection
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnCrossSection"
        - name: yarnLocation
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnLocation"
        - name: yarnSuppliedMaterial
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: yarnSuppliedMaterial"
        - name: heatSetting
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The integer for heatSetting"
        - name: intermingling
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The integer for intermingling"
        - name: chemicalProduct
          in: query
          required: false
          type: array
          items:
            type: string # string
          collectionFormat: csv
          description: "The string for chemicalProduct"
        - name: chemicalSupplier
          in: query
          required: false
          type: array
          items:
            type: string # string
          collectionFormat: csv
          description: "The string for chemicalProduct"
        - name: complianceAccreditation
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: complianceAccreditation"
        - name: yarnSuppliedMaterialNumberOfEnds
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The integer for yarnSuppliedMaterialNumberOfEnds"
        - name: yarnUsagePercentage
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for yarnUsagePercentage"
        - name: baseType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: baseType"
        - name: singleComponentIndicator
          in: query
          required: false
          type: array
          items:
            type: boolean
          collectionFormat: csv
          description: "The reference key associated with this item: singleComponentIndicator"
        - name: flammabilityRating
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: flammabilityRating"
        - name: hotmeltType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: hotmeltType"
        - name: hydrolysisResistantIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: hydrolysisResistantIndicator"
        - name: methodOfMake
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: methodOfMake"
        - name: chemPolyForm
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: chemPolyForm"
        - name: filmType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: filmType"
        - name: hotmeltMaterialItem
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: Hotmelt Material Identifier"
        - name: hotmeltThicknessNumberMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for hotmeltThicknessNumberMm"
        - name: opacity
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: opacity"
        - name: stretchIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: stretchIndicator"
        - name: foamType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: foamType"
        - name: polyurethaneChemistry
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: polyurethaneChemistry"
        - name: hardnessAskerC
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: hardnessAskerC"
        - name: firmness
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: firmness"
        - name: meltingPointNumber
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for meltingPointNumber"
        - name: plasticType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: plasticType"
        - name: plasticSubType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: plasticSubType"
        - name: ultravioletInhibitorIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: ultravioletInhibitorIndicator"
        - name: clearRubberIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: clearRubberIndicator"
        - name: cureProcess
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: cureProcess"
        - name: regrindContentPercentage
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for regrindContentPercentage"
        - name: sportActivity
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: sportActivity"
        - name: detachableMetalIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: detachableMetalIndicator"
        - name: hardOrSoftComponent
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: hardOrSoftComponent"
        - name: stockOrCustom
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: stockOrCustom"
        - name: coreConstructionType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: coreConstructionType"
        - name: componentConstructionType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: componentConstructionType"
        - name: hasCoreIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: hasCoreIndicator"
        - name: shape
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: shape"
        - name: logoType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: logoType"
        - name: logoName
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: logoName"
        - name: logoPlacement
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: logoPlacement"
        - name: hotmeltIncludedIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: hotmeltIncludedIndicator"
        - name: elasticizedIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: elasticizedIndicator"
        - name: vendorColorCardOnlyIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: vendorColorCardOnlyIndicator"
        - name: componentForm
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: componentForm"
        - name: ligneSizeNumber
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for ligneSizeNumber"
        - name: numberOfHoles
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The number for numberOfHoles"
        - name: adhesiveType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: adhesiveType"
        - name: gripperType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: gripperType"
        - name: numberOfGripperRows
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The number for numberOfGripperRows"
        - name: endFinish
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: endFinish"
        - name: forProductSizes
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: forProductSizes"
        - name: partType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: partType"
        - name: numberOfRows
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The number (integer) for numberOfRows"
        - name: amountPerRow
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The number (integer) for amountPerRow"
        - name: adjusterType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: adjusterType"
        - name: containsMagnetIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: containsMagnetIndicator"
        - name: buttonType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: buttonType"
        - name: tapeType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: tapeType"
        - name: snapType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: snapType"
        - name: snapPartType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: snapPartType"
        - name: tapeWidthMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for tapeWidthMm"
        - name: snapWidthMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for snapWidthMm"
        - name: snapRepeatLengthMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for snapRepeatLengthMm"
        - name: cordlockToggleType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: cordlockToggleType"
        - name: activationTemperatureNumber
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for activationTemperatureNumber"
        - name: counterType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: counterType"
        - name: dwellTime
          in: query
          required: false
          type: array
          items:
            type: string # varchar(4000)
          collectionFormat: csv
          description: "The value associated with this item: dwellTime"
        - name: generalConstruction
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: generalConstruction"
        - name: elasticType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticType"
        - name: crossoverDrawcordIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: crossoverDrawcordIndicator"
        - name: elasticDrawcordContentPercentage
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for elasticDrawcordContentPercentage"
        - name: elasticDrawcordContentType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticDrawcordContentType"
        - name: elasticDrawcordContentSource
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticDrawcordContentSource"
        - name: elasticDrawcordAgletMaterialItem
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticDrawcordAgletMaterialItem"
        - name: elasticDrawcordHasCoreIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: elasticDrawcordHasCoreIndicator"
        - name: elasticDrawcordElasticizedIndicator
          in: query
          required: false
          type: boolean
          description: "The true or false flag associated with this item: elasticDrawcordElasticizedIndicator"
        - name: elasticDrawcordShape
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticDrawcordShape"
        - name: elasticDrawcordLogoName
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticDrawcordLogoName"
        - name: elasticDrawcordDimensionWidthIndicator
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticDrawcordDimensionWidthIndicator"
        - name: elasticDrawcordGripperType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticDrawcordGripperType"
        - name: elasticDrawcordConstructionType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticDrawcordConstructionType"
        - name: elasticDrawcordForm
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticDrawcordForm"
        - name: elasticDrawcordEndFinish
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticDrawcordEndFinish"
        - name: elasticDrawcordWidthMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for elasticDrawcordWidthMm"
        - name: elasticDrawcordArtworkTechnique
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticDrawcordArtworkTechnique"
        - name: elasticDrawcordFinishProcess
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticDrawcordFinishProcess"
        - name: elasticDrawcordDyeMethod
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticDrawcordDyeMethod"
        - name: elasticDrawcordVisualEffect
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticDrawcordVisualEffect"
        - name: elasticDrawcordNumberOfColors
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "he reference key associated with this item: elasticDrawcordNumberOfColors"
        - name: elasticAgletContentPercentage
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for elasticAgletContentPercentage"
        - name: elasticAgletContentType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticAgletContentType"
        - name: elasticAgletContentSource
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticAgletContentSource"
        - name: elasticAgletLogoName
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticAgletLogoName"
        - name: elasticAgletShape
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticAgletShape"
        - name: elasticAgletConstructionType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticAgletConstructionType"
        - name: elasticAgletWidthMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for elasticAgletWidthMm"
        - name: elasticAgletHeightMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for elasticAgletHeightMm"
        - name: elasticAgletInternalDiameterMm
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for elasticAgletInternalDiameterMm"
        - name: elasticAgletGramsPerThousandPieces
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for elasticAgletGramsPerThousandPieces"
        - name: elasticAgletFinishProcess
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticAgletFinishProcess"
        - name: elasticAgletDyeMethod
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticAgletDyeMethod"
        - name: elasticAgletArtworkTechnique
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticAgletArtworkTechnique"
        - name: elasticAgletVisualEffect
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: elasticAgletVisualEffect"
        - name: elasticAgletNumberOfColors
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "he reference key associated with this item: elasticAgletNumberOfColors"
        - name: drawcordMaterialItem
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: drawcordMaterialItem"
        - name: drawcordAgletMaterialItem
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: drawcordAgletMaterialItem"
        - name: drawcordAgletContentPercentage
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: "The number (float) for drawcordAgletContentPercentage"
        - name: drawcordAgletContentType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: drawcordAgletContentType"
        - name: drawcordAgletContentSource
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: drawcordAgletContentSource"
        - name: drawcordAgletLogoName
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: drawcordAgletLogoName"
        - name: drawcordAgletShape
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
          description: "The reference key associated with this item: drawcordAgletShape"
        - name: drawcordAgletConstructionType
          in: query
          required: false
          type: array
          items:
            type: integer # integer
          collectionFormat: csv
[...]
