swagger: '2.0'
info:
  title: Product Development Service
  description: This is the API for the Product Development Domain and should be the way to get or search Product Development data.
  version: 1.3.0
host: productdevelopment.api-product.pes-prod.nike.com
schemes:
  - https
basePath: /v1/productDevelopment
produces:
  - application/json
paths:

# Entity Methods
  /data/colorwaySeasons/{objectId}:
    get:
      summary: Development Colorway Data
      description: How you get a single development colorway.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Product Development Development Colorway)
          required: true
          type: integer
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - dcSeasonCore
            - dcSeasonStatus
            - dcSeasonSourcingConfig
            - dcSeasonQuantity
            - dcSeasonTrial
            - dcSeasonFOB
            - dcSeasonAudit
            - dsSeasonCore
            - dsSeasonResource
            - dsSeasonTechnicalDifficulty
            - dsSeasonFOB
            - dsSeasonTrack
            - dsSeasonStatus
            - dsSeasonAudit
            - dcCore
            - dcStatus
            - dcAudit
            - dsCore
            - dsClassification
            - dsLast
            - dsStatus
            - dsAudit
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Development Colorway Season
      responses:
        '200':
          description: Returns response object which contains development colorway core with requested data units
          schema:
            $ref: '#/definitions/developmentColorwayResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /data/colorwaySeasons:
    get:
      summary: Development Colorway Data (Bulk)
      description: How you get development colorway in a Bulk fashion.
      parameters:
        - name: objectId
          in: query
          description: A comma separated list of Ids of the object (in this case Product Development Development Colorway)
          required: true
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: csv
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - dcSeasonCore
            - dcSeasonStatus
            - dcSeasonSourcingConfig
            - dcSeasonQuantity
            - dcSeasonTrial
            - dcSeasonFOB
            - dcSeasonAudit
            - dsSeasonCore
            - dsSeasonResource
            - dsSeasonTechnicalDifficulty
            - dsSeasonFOB
            - dsSeasonTrack
            - dsSeasonStatus
            - dsSeasonAudit
            - dcCore
            - dcStatus
            - dcAudit
            - dsCore
            - dsClassification
            - dsLast
            - dsStatus
            - dsAudit
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Development Colorway Season
      responses:
        '200':
          description: Returns response object which contains development colorway core with requested data units
          schema:
            $ref: '#/definitions/developmentColorwayBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: You have requested a data unit that does not exist or the number of IDs requested exceeded the maximum number allowed.  Each bulk request should not exceed 25 Object IDs.
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

# Relationship Methods

  /data/colorwaySeasons/{objectId}/relationships:
    get:
      summary: Development Colorway by Season Relationships
      description: 'How you get all the relationships to the single object requested, in other words the children in the hierarchy (BOMs) to the requested entity'
      parameters:
        - name: objectId
          in: path
          description: The Id of the object (in this case Product Development Development Colorway Style) where the relationships are desired
          required: true
          type: integer
        - name: depth
          in: query
          required: false
          description: "This determines how many levels in the hierarcy you wish to traverse, default is 2"
          type: integer
        - name: X-B3-TraceId
          in: header
          type: string
          required: false
          description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
        - name: x-api-key
          in: header
          type: string
          required: true
          description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling
      tags:
        - Development Colorway Season
        - Relationships
      responses:
        '200':
          description: Returns response object which contains development style core with requested data units
          schema:
            $ref: '#/definitions/relationshipResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '204':
          description: The request was successful but we were unable to find any relationships.
          schema:
            $ref: '#/definitions/relationshipResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '400':
          description: A data unit that you asked for does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
          schema:
            $ref: '#/definitions/_error'
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /search/colorwaySeasons:
    get:
      summary: Development Colorway by Season Search
      description: How you search against all fields contained within the development colorway by Season entity
      parameters:
        - name: count
          in: query
          description: "Number of entries the API should attempt to fetch, default is 10"
          required: false
          type: integer
        - name: offset
          in: query
          description: "Offset of the entries the API should attempt to fetch, default is 0"
          required: false
          type: integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
        - name: q
          in: query
          description: 'This parameter is how you pass free text search, if any string is passed here it will be searched as free text'
          required: false
          type: string
  # Enum for search
        - name: developmentColorwayIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: developmentStyleSeasonIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: productOfferingIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: developmentColorwaySeasonStatusIndicator
          in: query
          required: false
          type: boolean
          description: 'The true or false flag associated with this item:'
        - name: prototypeQuantity
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The number associated with prototypeQuantity'
        - name: sampleQuantity
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The number associated with sampleQuantity'
        - name: nikeProductionTrial
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: targetFOB
          in: query
          required: false
          type: array
          items:
            type: number
          collectionFormat: csv
          description: 'The number for target FOB'
        - name: sourcingConfigurationColorwaySeason
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: developmentStyleIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The Id for develpment style season'
        - name: cycleYear
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item: cycleYear'
        - name: whqColorDesignerUserIdentifier
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The email address for this user'
        - name: whqCostingUserIdentifier
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The email address for this user'
        - name: whqDesignerUserIdentifier
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The email address for this user'
        - name: whqDeveloperUserIdentifier
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The email address for this user'
        - name: whqFootwearDevelopmentDirectorUserIdentifier
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The email address for this user'
        - name: whqKnitDeveloperUserIdentifier
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The email address for this user'
        - name: whqKnitEngineerUserIdentifier
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The email address for this user'
        - name: whqKnitProgrammerUserIdentifier
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The email address for this user'
        - name: whqMaterialUserIdentifier
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The email address for this user'
        - name: whqProductEngineerUserIdentifier
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The email address for this user'
        - name: whqProductTestingUserIdentifier
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The email address for this user'
        - name: knitCenterDeveloperUserIdentifier
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The email address for this user'
        - name: newUpperIndicator
          in: query
          required: false
          type: boolean
          description: 'The true or false flag associated with this item'
        - name: newMidsoleIndicator
          in: query
          required: false
          type: boolean
          description: 'The true or false flag associated with this item'
        - name: newOutsoleIndicator
          in: query
          required: false
          type: boolean
          description: 'The true or false flag associated with this item'
        - name: productSeasonDevelopmentTeam
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: technicalDifficulty
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: developmentColorwayTargetFOB
          in: query
          required: false
          type: array
          items:
            type: number
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: developmentTrack
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: productTrack
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: startDate
          in: query
          required: false
          type: array
          items:
            type: string
            format: date
          collectionFormat: csv
          description: 'The date assocated with the start of development'
        - name: developmentStyleSeasonStatusIndicator
          in: query
          required: false
          type: boolean
          description: 'The true or false flag associated with this item'
        - name: lastIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: additionalLastIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: developmentStyleStatusIndicator
          in: query
          required: false
          type: boolean
          description: 'The true or false flag associated with this item'
        - name: developmentColorwayDescription
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: developmentColorwayType
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: developmentColorwayState
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: developmentColorwayGate
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: productIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: developmentColorwayStatusIndicator
          in: query
          required: false
          type: boolean
          description: 'The true or false flag associated with this item:'
        - name: developmentStyleType
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: division
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
      tags:
        - Development Colorway Season
        - Search
      responses:
        '200':
          description: Returns response object which contains links to the development colorway by season endpoint
          schema:
            $ref: '#/definitions/searchResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: A field that has been queried does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [legacy]

# Entity Methods
  /data/developmentStyles/{objectId}:
    get:
      summary: Development Style Data
      description: How you get a single development style data
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Development Style Identifier)
          required: true
          type: integer
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - dsCore
            - dsClassification
            - dsLast
            - dsStatus
            - dsAudit
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Development Style
      responses:
        '200':
          description: Returns response object which contains development style core with requested data units
          schema:
            $ref: '#/definitions/developmentStyleResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /search/developmentStyles:
    get:
      summary: Development Style Search
      description: How you search against all fields contained within the development style entity
      parameters:
        - name: count
          in: query
          description: "Number of entries the API should attempt to fetch, default is 10"
          required: false
          type: integer
        - name: offset
          in: query
          description: "Offset of the entries the API should attempt to fetch, default is 0"
          required: false
          type: integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
        - name: q
          in: query
          description: 'This parameter is how you pass free text search, if any string is passed here it will be searched as free text'
          required: false
          type: string
  # Enum for search
        - name: developmentStyleName
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: modelIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: styleNumber
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: lastIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: additionalLastIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: developmentStyleStatusIndicator
          in: query
          required: false
          type: boolean
          description: 'The true or false flag associated with this item'
        - name: developmentStyleType
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: division
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
      tags:
        - Development Style
        - Search
      responses:
        '200':
          description: Returns response object which contains links to the development style endpoint
          schema:
            $ref: '#/definitions/searchResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: A field that has been queried does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

# Entity Methods
  /data/billOfMaterials/{objectId}:
    get:
      summary: Bill Of Materials Data
      description: How you get a single bill of materials.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Product Development Bill Of Materials)
          required: true
          type: string
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - bomCore
            - bomdevStyle
            - bomSeason
            - bomSourcingConfiguration
            - bomClassification
            - bomDescription
            - bomStatus
            - bomHeaderAudit
            - bomLineItemDetail
            - bomLineItemComments
            - bomLineItemAuditComments
            - bomLineAudit
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Bill Of Materials
      responses:
        '200':
          description: Returns response object which contains bill of materials core with requested data units
          schema:
            $ref: '#/definitions/billOfMaterialsResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /data/billOfMaterials:
    get:
      summary: Bill Of Materials Data (Bulk)
      description: How you get bill of materials in a Bulk fashion.
      parameters:
        - name: objectId
          in: query
          description: A comma separated list of Ids of the object (in this case Product Development Bill Of Materials)
          required: true
          type: array
          items:
            type: string
            format: int64
          collectionFormat: csv
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - bomCore
            - bomdevStyle
            - bomSeason
            - bomSourcingConfiguration
            - bomClassification
            - bomDescription
            - bomStatus
            - bomHeaderAudit
            - bomLineItemDetail
            - bomLineItemComments
            - bomLineItemAuditComments
            - bomLineAudit
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Bill Of Materials
      responses:
        '200':
          description: Returns response object which contains bill of materials core with requested data units
          schema:
            $ref: '#/definitions/billOfMaterialsBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: You have requested a data unit that does not exist or the number of IDs requested exceeded the maximum number allowed.  Each bulk request should not exceed 25 Object IDs.
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /search/billOfMaterials:
    get:
      summary: Bill Of Materials  Search
      description: How you search against all fields contained within the BOM entity
      parameters:
        - name: count
          in: query
          description: "Number of entries the API should attempt to fetch, default is 10"
          required: false
          type: integer
        - name: offset
          in: query
          description: "Offset of the entries the API should attempt to fetch, default is 0"
          required: false
          type: integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
        - name: q
          in: query
          description: 'This parameter is how you pass free text search, if any string is passed here it will be searched as free text'
          required: false
          type: string
  # Enum for search
        - name: bomIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: developmentColorwayIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: bomName
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: developmentColorwaySeasonIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: sourcingConfigurationIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: sourcingConfigurationSeason
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: developmentStyleType
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: division
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: bomDescription
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: bomComments
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: billOfMaterialStatusIndicator
          in: query
          required: false
          type: array
          items:
            type: boolean
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: bomLineItemIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: bomLineItemComments
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: bomLineItemNumber
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: parentBomLineItemIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: lineItemQuantity
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: color
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: billOfMaterialsSection
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: partPrimary
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: partSecondary
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: partModifier
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: partSuffix
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: partName
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: materialItemIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: suppliedMaterial
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: suppliedMaterialColorIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: suppliedMaterialColorIsMultipleColors
          in: query
          required: false
          type: array
          items:
            type: boolean
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: colorPlaceholderDescription
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: materialItemPlaceholderDescription
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
      tags:
        - Bill Of Materials
        - Search
      responses:
        '200':
          description: Returns response object which contains links to the sourcing endpoint
          schema:
            $ref: '#/definitions/searchResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: A field that has been queried does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [legacy]

# Entity Methods
  /data/billOfMaterials/sources/{objectId}:
    get:
      summary: Bill Of Materials by Source Data
      description: How you get a single bill of materials by Source.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Product Development Bill Of Materials by Source)
          required: true
          type: string
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - bomCore
            - bomdevStyle
            - bomSeason
            - bomSourcingConfiguration
            - bomClassification
            - bomDescription
            - bomStatus
            - bomHeaderAudit
            - bomLineItemDetail
            - bomLineItemComments
            - bomLineItemAuditComments
            - bomLineAudit
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Bill Of Materials
      responses:
        '200':
          description: Returns response object which contains bill of materials core with requested data units
          schema:
            $ref: '#/definitions/billOfMaterialsSourceResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /data/billOfMaterials/sources:
    get:
      summary: Bill Of Materials by Source Data (Bulk)
      description: How you get bill of materials by Source in a Bulk fashion.
      parameters:
        - name: objectId
          in: query
          description: A comma separated list of Ids of the object (in this case Product Development Bill Of Materials)
          required: true
          type: array
          items:
            type: string
            format: int64
          collectionFormat: csv
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - bomCore
            - bomdevStyle
            - bomSeason
            - bomSourcingConfiguration
            - bomClassification
            - bomDescription
            - bomStatus
            - bomHeaderAudit
            - bomLineItemDetail
            - bomLineItemComments
            - bomLineItemAuditComments
            - bomLineAudit
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Bill Of Materials
      responses:
        '200':
          description: Returns response object which contains bill of materials core with requested data units
          schema:
            $ref: '#/definitions/billOfMaterialsSourceBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: You have requested a data unit that does not exist or the number of IDs requested exceeded the maximum number allowed.  Each bulk request should not exceed 25 Object IDs.
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /search/billOfMaterials/sources:
    get:
      summary: Bill Of Materials by Source Search
      description: How you search against all fields contained within the BOM by Source entity
      parameters:
        - name: count
          in: query
          description: "Number of entries the API should attempt to fetch, default is 10"
          required: false
          type: integer
        - name: offset
          in: query
          description: "Offset of the entries the API should attempt to fetch, default is 0"
          required: false
          type: integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
        - name: q
          in: query
          description: 'This parameter is how you pass free text search, if any string is passed here it will be searched as free text'
          required: false
          type: string
  # Enum for search
        - name: bomIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: developmentColorwayIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: bomName
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: developmentColorwaySeasonIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: sourcingConfigurationIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: productIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: styleNumber
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: sourcingConfigurationSeason
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: cycleYear
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: developmentStyleType
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: division
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: billOfMaterialStatusIndicator
          in: query
          required: false
          type: array
          items:
            type: boolean
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: bomLineItemIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: bomLineItemNumber
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: parentBomLineItemIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: lineItemQuantity
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: color
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: billOfMaterialsSection
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: part
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: materialItemIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: suppliedMaterial
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: suppliedMaterialColorIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: suppliedMaterialColorIsMultipleColors
          in: query
          required: false
          type: array
          items:
            type: boolean
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: colorPlaceholderDescription
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: materialItemPlaceholderDescription
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          description: 'The reference key associated with this item'
        - name: netUsage
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: 'The number (float) for netUsage'
        - name: wasteUsage
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: 'The number (float) for wasteUsage'
        - name: grossUsage
          in: query
          required: false
          type: array
          items:
            type: number
            format: float # float
          collectionFormat: csv
          description: 'The number (float) for grossUsage'
        - name: usageUnitOfMeasure
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
          description: 'The reference key associated with this item'
      tags:
        - Bill Of Materials
        - Search
      responses:
        '200':
          description: Returns response object which contains links to the sourcing endpoint
          schema:
            $ref: '#/definitions/searchResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: A field that has been queried does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [legacy]

# Entity Methods
  /data/sourcingConfigurations/{objectId}:
    get:
      summary: Source Configuration Data
      description: How you get a single Source Configuration Data.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Source Configuration Identifier)
          required: true
          type: string
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - scCore
            - scClassification
            - scAudit
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Sourcing Configuration
      responses:
        '200':
          description: Returns response object which contains Sourcing Configuration core with requested data units
          schema:
            $ref: '#/definitions/sourcingConfigurationsResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /data/sourcingConfigurations/:
    get:
      summary: Source Configuration Data (Bulk)
      description: How you get Source Configuration Data in a Bulk fashion.
      parameters:
        - name: objectId
          in: query
          description: A comma separated list of Ids of the object (in this case Source Configuration Identifier)
          required: true
          type: array
          items:
            type: string
            format: int64
          collectionFormat: csv
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - scCore
            - scClassification
            - scAudit
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Sourcing Configuration
      responses:
        '200':
          description: Returns response object which contains Sourcing Configuration core with requested data units
          schema:
            $ref: '#/definitions/sourcingConfigurationsBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: You have requested a data unit that does not exist or the number of IDs requested exceeded the maximum number allowed.  Each bulk request should not exceed 25 Object IDs.
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

# Entity Methods
  /data/sourcingConfigurations/colorwaySeasons/{objectId}:
    get:
      summary: Source Configuration Colorway Season Data
      description: How you get a single Source Configuration Colorway Season Data.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Source Configuration Colorway Season Identifier)
          required: true
          type: string
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - scColorwaySeasonCore
            - scColorwaySeasonClassification
            - scColorwaySeasonStatus
            - scColorwaySeasonAudit
            - scSeasonCore
            - scSeasonStatus
            - scSeasonResource
            - scSeasonAudit
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Sourcing Configuration
      responses:
        '200':
          description: Returns response object which contains Sourcing Configuration Season core with requested data units
          schema:
            $ref: '#/definitions/sourcingConfigurationsColorwaySeasonResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /data/sourcingConfigurations/colorwaySeasons:
    get:
      summary: Source Configuration Colorway Season Data (Bulk)
      description: How you get Source Configuration Colorway Season Data in a Bulk fashion.
      parameters:
        - name: objectId
          in: query
          description: A comma separated list of Ids of the object (in this case Source Configuration Colorway Season Identifier)
          required: true
          type: array
          items:
            type: string
            format: int64
          collectionFormat: csv
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - scColorwaySeasonCore
            - scColorwaySeasonClassification
            - scColorwaySeasonStatus
            - scColorwaySeasonAudit
            - scSeasonCore
            - scSeasonStatus
            - scSeasonResource
            - scSeasonAudit
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Sourcing Configuration
      responses:
        '200':
          description: Returns response object which contains Sourcing Configuration Season core with requested data units
          schema:
            $ref: '#/definitions/sourcingConfigurationsColorwaySeasonBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: You have requested a data unit that does not exist or the number of IDs requested exceeded the maximum number allowed.  Each bulk request should not exceed 25 Object IDs.
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]


# Entity Methods
  /data/developmentSamples/samples/{objectId}:
    get:
      summary: Development Sample Data
      description: How you get a single Development Sample Data.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Development Sample Identifier)
          required: true
          type: string
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - dSampleCore
            - dSampleStatus
            - dSampleClassification
            - dSampleComments
            - dSampleAudit
            - dSampleRequestCore
            - dSampleRequestComments
            - dSampleRequestStatus
            - dSampleRequestAudit
            - dSampleOrderDetail
            - dSampleEvaluation
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Development Sample
      responses:
        '200':
          description: Returns response object which contains Development Sample and Development Sample Request core with requested data units
          schema:
            $ref: '#/definitions/developmentSampleResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /data/developmentSamples/shipments/{objectId}:
    get:
      summary: Development Sample Data Shipment
      description: How you get a single Development Sample Shipment Data.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Development Sample Identifier)
          required: true
          type: string
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - dSampleShipmentCore
            - dSampleShipmentFactoryComments
            - dSampleShipmentAudit
            - dSampleShipmentDetail
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Development Sample
      responses:
        '200':
          description: Returns response object which contains Development Sample and Development Sample Request core with requested data units
          schema:
            $ref: '#/definitions/developmentSampleShipmentResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

# Entity Methods
  /data/measurementSets/{objectId}:
    get:
      summary: Development Measurement Set Data
      description: How you get a single Development Measurement Data.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Development Measurement Identifier)
          required: true
          type: string
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - msCore
            - msTemplate
            - msSize
            - msPointOfMeasurement
            - msAudit
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Measurement Set
      responses:
        '200':
          description: Returns response object which contains Development Measurement core with requested data units
          schema:
            $ref: '#/definitions/developmentMeasurementResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /search/measurementSets:
    get:
      summary: Development Measurement Set Data Search
      description: How you search against all fields contained within the Development Measurement Set entity
      parameters:
        - name: count
          in: query
          description: "Number of entries the API should attempt to fetch, default is 10"
          required: false
          type: integer
        - name: offset
          in: query
          description: "Offset of the entries the API should attempt to fetch, default is 0"
          required: false
          type: integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
        - name: q
          in: query
          description: 'This parameter is how you pass free text search, if any string is passed here it will be searched as free text'
          required: false
          type: string
  # Enum for search
        - name: measurementSetName
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: measurementSetState
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
        - name: developmentStyleIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
        - name: styleNumber
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: cycleYear
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: sourcingConfigurationIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
        - name: sourcingConfigurationSeasonIdentifier
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
        - name: measurementSetTemplateName
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: sizeDefinitionTemplate
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: gradeRuleTemplate
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: measurementTemplateType
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
        - name: developmentStyleSizeDefinition
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: measurementValueUnitOfMeasure
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: baseSize
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: sizeSelectionList
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: size
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: measurementCode
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: pointOfMeasurementName
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: sortOrder
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: measurementInstructions
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: measurementDetail
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: pointOfMeasurementCriticality
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
        - name: toleranceNegative
          in: query
          required: false
          type: array
          items:
            type: number
            format: float
          collectionFormat: csv
        - name: tolerancePositive
          in: query
          required: false
          type: array
          items:
            type: number
            format: float
          collectionFormat: csv
        - name: measurementSizeValue
          in: query
          required: false
          type: array
          items:
            type: number
            format: float
          collectionFormat: csv
        - name: pointOfMeasurement
          in: query
          required: false
          type: array
          items:
            type: integer
          collectionFormat: csv
        - name: measurementSetStatusIndicator
          in: query
          required: false
          type: array
          items:
            type: boolean
          collectionFormat: csv
      tags:
        - Measurement Set
        - Search
      responses:
        '200':
          description: Returns response object which contains links to the development colorway by season endpoint
          schema:
            $ref: '#/definitions/searchResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: A field that has been queried does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [legacy]

# Entity Methods
  /data/pointsOfMeasurement/{objectId}:
    get:
      summary: Development Points of Measurement Data
      description: How you get a single Development Point of Measurement Data.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Development Point of Measurement Identifier)
          required: true
          type: string
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - pomCore
            - pomStatus
            - pomAudit
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Points of Measurement
      responses:
        '200':
          description: Returns response object which contains Development Point of Measurement core with requested data units
          schema:
            $ref: '#/definitions/developmentPointOfMeasurementResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

parameters:
  traceParam:
    name: X-B3-TraceId
    in: header
    type: string
    required: false
    description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
  apiKeyParam:
    name: x-api-key
    in: header
    type: string
    required: true
    description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling

definitions:

# Responses

  relationshipResponse:
    type: object
    properties:
      content:
        type: array
        items:
          type: object
          properties:
            relationships:
              $ref: '#/definitions/_reference'
      count:
[...]
