swagger: '2.0'
info:
  title: Line Management Reference Data Service
  description: This is the API for the Line Management Reference Data
  version: 1.1.0
host: linemanagement.api-product.pes-prod.nike.com
schemes:
  - https
basePath: /v1
produces:
  - application/json

paths:

  /lineManagement/data/ages/{objectId}:
    get:
      summary: Get specific reference data for a specific age key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the age object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/ageResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/ages:
    get:
      summary: Get all reference data for age
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/ageBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/athletes/{objectId}:
    get:
      summary: Get specific reference data for a specific athlete key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the athlete object
          required: true
          type: integer # integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/athleteResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/athletes:
    get:
      summary: Get all reference data for athlete
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/athleteBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/brandMarks/{objectId}:
    get:
      summary: Get specific reference data for a specific brandMark key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the brandMark object
          required: true
          type: integer # integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/brandMarkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/brandMarks:
    get:
      summary: Get all reference data for brandMark
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/brandMarkBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/businessOrganizations/{objectId}:
    get:
      summary: Get specific reference data for a specific businessOrganization key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the businessOrganization object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/businessOrganizationResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/businessOrganizations:
    get:
      summary: Get all reference data for businessOrganization
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/businessOrganizationBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/categories/{objectId}:
    get:
      summary: Get specific reference data for a specific category key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the category object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/categoryResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/categories:
    get:
      summary: Get all reference data for category
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/categoryBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/constructionMethods/{objectId}:
    get:
      summary: Get specific reference data for a specific constructionMethod key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the constructionMethod object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/constructionMethodResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/constructionMethods:
    get:
      summary: Get all reference data for constructionMethod
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/constructionMethodBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/consumerFocuses/{objectId}:
    get:
      summary: Get specific reference data for a specific consumerFocus key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the consumerFocus object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/consumerFocusResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/consumerFocuses:
    get:
      summary: Get all reference data for consumerFocus
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/consumerFocusBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/consumerGroups/{objectId}:
    get:
      summary: Get specific reference data for a specific consumerGroup key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the consumerGroup object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/consumerGroupResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/consumerGroups:
    get:
      summary: Get all reference data for consumerGroup
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/consumerGroupBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/consumerPurposes/{objectId}:
    get:
      summary: Get specific reference data for a specific consumerPurpose key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the consumerPurpose object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/consumerPurposeResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/consumerPurposes:
    get:
      summary: Get all reference data for consumerPurpose
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/consumerPurposeBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/consumerUses/{objectId}:
    get:
      summary: Get specific reference data for a specific consumerUse key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the consumerUse object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/consumerUseResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/consumerUses:
    get:
      summary: Get all reference data for consumerUse
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/consumerUseBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/currencies/{objectId}:
    get:
      summary: Get specific reference data for a specific currency key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the currency object
          required: true
          type: integer # integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/currencyResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/currencies:
    get:
      summary: Get all reference data for currency
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/currencyBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/cycles/{objectId}:
    get:
      summary: Get specific reference data for a specific cycle key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the cycle object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/cycleResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/cycles:
    get:
      summary: Get all reference data for cycle
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/cycleBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/cycleYears/{objectId}:
    get:
      summary: Get specific reference data for a specific cycleYear key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the cycleYear object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/cycleYearResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/cycleYears:
    get:
      summary: Get all reference data for cycleYear
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/cycleYearBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/developmentTeams/{objectId}:
    get:
      summary: Get specific reference data for a specific developmentTeam key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the developmentTeam object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/developmentTeamResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/developmentTeams:
    get:
      summary: Get all reference data for developmentTeam
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/developmentTeamBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/dimensions/{objectId}:
    get:
      summary: Get specific reference data for a specific dimension key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the dimension object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/dimensionResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/dimensions:
    get:
      summary: Get all reference data for dimension
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/dimensionBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/divisions/{objectId}:
    get:
      summary: Get specific reference data for a specific division key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the division object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/divisionResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/divisions:
    get:
      summary: Get all reference data for division
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/divisionBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]


  /lineManagement/data/exchangeRates/{objectId}:
    get:
      summary: Get specific reference data for a specific exchange rate key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the exchange rate object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/exchangeRateResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/exchangeRates:
    get:
      summary: Get all reference data for exchange rate
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/exchangeRateBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/features/{objectId}:
    get:
      summary: Get specific reference data for a specific feature key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the feature object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/featureResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/features:
    get:
      summary: Get all reference data for feature
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/featureBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/fits/{objectId}:
    get:
      summary: Get specific reference data for a specific fit key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the fit object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/fitResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/fits:
    get:
      summary: Get all reference data for fit
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/fitBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/fitPreferences/{objectId}:
    get:
      summary: Get specific reference data for a specific fitPreference key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the fitPreference object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/fitPreferenceResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/fitPreferences:
    get:
      summary: Get all reference data for fitPreference
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/fitPreferenceBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /lineManagement/data/genders/{objectId}:
    get:
      summary: Get specific reference data for a specific gender key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the gender object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/genderResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
[...]
