swagger: '2.0'
info:
  title: Material Management Reference Data Service
  description: This is the API for the Material Management Reference Data
  version: 2.0.0
host: materialmanagement.api-product.pes-prod.nike.com
schemes:
  - https
basePath: /v3
produces:
  - application/json

paths:

  /materialManagement/data/alternateProductPartContentStatements/{objectId}:
    get:
      summary: Get specific reference data for a specific Alternate Product Part Content Statement code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the Alternate Product Part Content Statement object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/alternateProductPartContentStatementResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/alternateProductPartContentStatements:
    get:
      summary: Get all reference data for Alternate Product Part Content Statement
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/alternateProductPartContentStatementBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/airbagProcesses/{objectId}:
    get:
      summary: Get specific reference data for a specific airbagProcess code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the airbagProcess object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/airbagProcessResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/airbagProcesses:
    get:
      summary: Get all reference data for airbagProcess
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/airbagProcessBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/animalSources/{objectId}:
    get:
      summary: Get specific reference data for a specific animalSource code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the animalSource object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/animalSourceResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/animalSources:
    get:
      summary: Get all reference data for animalSource
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/animalSourceBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/applicationLocations/{objectId}:
    get:
      summary: Get specific reference data for a specific applicationLocation code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the applicationLocation object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/applicationLocationResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/applicationLocations:
    get:
      summary: Get all reference data for applicationLocation
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/applicationLocationBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/applicationTechniques/{objectId}:
    get:
      summary: Get specific reference data for a specific applicationTechnique code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the applicationTechnique object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/applicationTechniqueResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/applicationTechniques:
    get:
      summary: Get all reference data for applicationTechnique
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/applicationTechniqueBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/artworkGraphicTypes/{objectId}:
    get:
      summary: Get specific reference data for a specific artworkGraphicType code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the artworkGraphicType object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/artworkGraphicTypeResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/artworkGraphicTypes:
    get:
      summary: Get all reference data for artworkGraphicType
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/artworkGraphicTypeBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/artworkTechniques/{objectId}:
    get:
      summary: Get specific reference data for a specific artworkTechnique code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the artworkTechnique object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/artworkTechniqueResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/artworkTechniques:
    get:
      summary: Get all reference data for artworkTechnique
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/artworkTechniqueBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/attachmentMethods/{objectId}:
    get:
      deprecated: true
      summary: Get specific reference data for a specific attachmentMethod code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the attachmentMethod object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/attachmentMethodResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/attachmentMethods:
    get:
      deprecated: true
      summary: Get all reference data for attachmentMethod
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/attachmentMethodBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/bobbinPositions/{objectId}:
    get:
      summary: Get specific reference data for a specific Bobbin Positions code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the bobbinPositions object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/bobbinPositionResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/bobbinPositions:
    get:
      summary: Get all reference data for Bobbin Positions
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/bobbinPositionBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/brandNames/{objectId}:
    get:
      summary: Get specific reference data for a specific Brand Name code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the brandName object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/brandNameResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/brandNames:
    get:
      summary: Get all reference data for Brand Names
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/brandNameBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/careInstructions/{objectId}:
    get:
      summary: Get specific reference data for a specific careInstruction code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the careInstruction object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/careInstructionResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/careInstructions:
    get:
      summary: Get all reference data for careInstruction
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/careInstructionBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/coatingSurfaceApplications/{objectId}:
    get:
      deprecated: true
      summary: Get specific reference data for a specific coatingSurfaceApplication code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the coatingSurfaceApplication object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/coatingSurfaceApplicationResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/coatingSurfaceApplications:
    get:
      deprecated: true
      summary: Get all reference data for coatingSurfaceApplication
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/coatingSurfaceApplicationBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/coatingTypes/{objectId}:
    get:
      deprecated: true
      summary: Get specific reference data for a specific coatingType code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the coatingType object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/coatingTypeResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/coatingTypes:
    get:
      deprecated: true
      summary: Get all reference data for coatingType
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/coatingTypeBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/chemicalPolymerForms/{objectId}:
    get:
      summary: Get specific reference data for a specific chemicalPolymerForm code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the chemicalPolymerForm object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/chemicalPolymerFormResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/chemicalPolymerForms:
    get:
      summary: Get all reference data for chemicalPolymerForm
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/chemicalPolymerFormBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/chemicalPolymerTypes/{objectId}:
    get:
      summary: Get specific reference data for a specific chemicalPolymerType code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the chemicalPolymerType object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/chemicalPolymerTypeResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/chemicalPolymerTypes:
    get:
      summary: Get all reference data for chemicalPolymerType
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/chemicalPolymerTypeBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/colorationsAvailable/{objectId}:
    get:
      summary: Get specific reference data for a specific colorationAvailable code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the colorationAvailable object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/colorationAvailableResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/colorationsAvailable:
    get:
      summary: Get all reference data for colorationAvailable
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/colorationAvailableBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/colorCallouts/{objectId}:
    get:
      summary: Get specific reference data for a specific colorCallout code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the colorCallout object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/colorCalloutResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/colorCallouts:
    get:
      summary: Get all reference data for colorCallout
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/colorCalloutBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/colorDominances/{objectId}:
    get:
      summary: Get specific reference data for a specific colorDominance code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the colorDominance object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/colorDominanceResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/colorDominances:
    get:
      summary: Get all reference data for colorDominance
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/colorDominanceBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/colorEffects/{objectId}:
    get:
      summary: Get specific reference data for a specific color Effect code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the color Effect object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/colorEffectResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/colorEffects:
    get:
      summary: Get all reference data for color Effect
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/colorEffectBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/colorPositions/{objectId}:
    get:
      summary: Get specific reference data for a specific color Position code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the color Position object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/colorPositionResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/colorPositions:
    get:
      summary: Get all reference data for color Position
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/colorPositionBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /materialManagement/data/componentConstructionTypes/{objectId}:
    get:
      summary: Get specific reference data for a specific componentConstructionType code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the componentConstructionType object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/componentConstructionTypeResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
[...]
