black
daves-dev-tools
flake8
isort
localstack-s3-pyspark
mypy
../file-system-client
../my-datastore-etl
../my-datastore-etl[all]
../my-datastore-etl[postgresql]
../my-datastore-etl[snowflake,spark]
../my-datastore-etl[spark]
pyspark
pytest
tox
