*~
**/.*
**/.*
build
dist
venv
gen
**.pyc
**.pyo
**.egg
**.sqlite
**/__pycache__
**/.DS_Store
*.egg-info
**/*.egg-info
**/*.dist-info
pip-wheel-metadata
!.gitignore
!.github
!.flake8
!.dockerignore
!.editorconfig
!.github