swagger: '2.0'
info:
  title: Product Development Reference Data Service
  description: This is the API for the Product Development Reference Data
  version: 0.4.0
host: productdevelopment.api-product.pes-prod.nike.com
schemes:
  - https
basePath: /v1/productDevelopment/data
produces:
  - application/json

paths:

  /billOfMaterialsUnitOfMeasurements/{objectId}:
    get:
      summary: Get specific reference data for a specific BOM UOM code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the BOM UOM object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/billOfMaterialsUnitOfMeasurementResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /billOfMaterialsUnitOfMeasurements:
    get:
      summary: Get all reference data for BOM UOM
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/billOfMaterialsUnitOfMeasurementBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /billOfMaterialsSections/{objectId}:
    get:
      summary: Get specific reference data for a specific billOfMaterialsSection code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the billOfMaterialsSection object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/billOfMaterialsSectionResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /billOfMaterialsSections:
    get:
      summary: Get all reference data for billOfMaterialsSection
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/billOfMaterialsSectionBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentColorwayGates/{objectId}:
    get:
      summary: Get specific reference data for a specific developmentColorwayGate code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the developmentColorwayGate object
          required: true
          type: integer # integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/developmentColorwayGateResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentColorwayGates:
    get:
      summary: Get all reference data for developmentColorwayGate
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/developmentColorwayGateBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentColorwayStates/{objectId}:
    get:
      summary: Get specific reference data for a specific developmentColorwayState code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the developmentColorwayState object
          required: true
          type: integer # integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/developmentColorwayStateResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentColorwayStates:
    get:
      summary: Get all reference data for developmentColorwayState
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/developmentColorwayStateBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]


  /developmentColorwayTypes/{objectId}:
    get:
      summary: Get specific reference data for a specific developmentColorwayType code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the developmentColorwayType object
          required: true
          type: integer # integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/developmentColorwayTypeResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentColorwayTypes:
    get:
      summary: Get all reference data for developmentColorwayType
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/developmentColorwayTypeBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentSampleChangeRequestReasons/{objectId}:
    get:
      summary: Get specific reference data for a specific Development Sample Change Request Reason code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the Development Sample Change Request Reason object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/developmentSampleChangeRequestReasonResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentSampleChangeRequestReasons:
    get:
      summary: Get all reference data for Development Sample Change Request Reason
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/developmentSampleChangeRequestReasonBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentSampleEvaluationStates/{objectId}:
    get:
      summary: Get specific reference data for a specific Development Sample Evaluation State code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the Development Sample Evaluation State object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/developmentSampleEvaluationStateReasonResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentSampleEvaluationStates:
    get:
      summary: Get all reference data for Development Sample Evaluation State
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/developmentSampleEvaluationStateBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentSampleFabricInstructions/{objectId}:
    get:
      summary: Get specific reference data for a specific Development Sample Fabric Instruction code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the Development Sample Fabric Instruction object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/developmentSampleFabricInstructionResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentSampleFabricInstructions:
    get:
      summary: Get all reference data for Development Sample Fabric Instruction
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/developmentSampleFabricInstructionBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentSampleFormats/{objectId}:
    get:
      summary: Get specific reference data for a specific Development Sample Format code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the Development Sample Format object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/developmentSampleFormatResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentSampleFormats:
    get:
      summary: Get all reference data for Development Sample Format
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/developmentSampleFormatBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentSamplePurposes/{objectId}:
    get:
      summary: Get specific reference data for a specific Development Sample Purpose code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the Development Sample Purpose object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/developmentSamplePurposeResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentSamplePurpose:
    get:
      summary: Get all reference data for Development Sample Purpose
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/developmentSamplePurposeBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentSampleQuoteRequirements/{objectId}:
    get:
      summary: Get specific reference data for a specific Development Sample Quote Requirement code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the Development Sample Quote Requirement object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/developmentSampleQuoteRequirementResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentSampleQuoteRequirements:
    get:
      summary: Get all reference data for Development Sample Quote Requirement
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/developmentSampleQuoteRequirementBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentSampleStates/{objectId}:
    get:
      summary: Get specific reference data for a specific Development Sample State code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the Development Sample State object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/developmentSampleStateResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentSampleStates:
    get:
      summary: Get all reference data for Development Sample State
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/developmentSampleStateBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentSampleTypes/{objectId}:
    get:
      summary: Get specific reference data for a specific Development Sample Type code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the Development Sample Type object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/developmentSampleTypeResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentSampleTypes:
    get:
      summary: Get all reference data for Development Sample Type
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/developmentSampleTypeBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentStyleTypes/{objectId}:
    get:
      summary: Get specific reference data for a specific Dev Style Type code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the Dev Style Type object
          required: true
          type: integer # integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/developmentStyleTypeResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentStyleTypes:
    get:
      summary: Get all reference data for Dev Style Type
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/developmentStyleTypeBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentTeams/{objectId}:
    get:
      summary: Get specific reference data for a specific developmentTeam key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the developmentTeam object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/developmentTeamResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentTeams:
    get:
      summary: Get all reference data for developmentTeam
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/developmentTeamBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentTeamGroups/{objectId}:
    get:
      summary: Get specific reference data for a specific developmentTeamGroup key
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the developmentTeamGroup object
          required: true
          type: integer # Integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/developmentTeamGroupResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentTeamGroups:
    get:
      summary: Get all reference data for developmentTeamGroup
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/developmentTeamGroupBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentTracks/{objectId}:
    get:
      summary: Get specific reference data for a specific developmentTrack code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the developmentTrack object
          required: true
          type: integer # integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/developmentTrackResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /developmentTracks:
    get:
      summary: Get all reference data for developmentTrack
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/developmentTrackBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]


  /goodsAtConsolidatorReasons/{objectId}:
    get:
      summary: Get specific reference data for a specific Goods at Consolidator Reason code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the Goods at Consolidator Reason object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/goodsAtConsolidatorReasonResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /goodsAtConsolidatorReasons:
    get:
      summary: Get all reference data for Goods at Consolidator Reason
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/goodsAtConsolidatorReasonBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /measurementTemplateTypes/{objectId}:
    get:
      summary: Get specific reference data for a specific measurementTemplateType code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the measurementTemplateType object
          required: true
          type: integer # integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/measurementTemplateTypeResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /measurementTemplateTypes:
    get:
      summary: Get all reference data for measurementTemplateType
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/measurementTemplateTypeBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /nikeProductionTrials/{objectId}:
    get:
      summary: Get specific reference data for a specific nikeProductionTrial code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the nikeProductionTrial object
          required: true
          type: integer # integer
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/nikeProductionTrialResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for an id that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /nikeProductionTrials:
    get:
      summary: Get all reference data for nikeProductionTrial
      description: How you get all the reference data associated with a specific type of reference information
      parameters:
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with all
          schema:
            $ref: '#/definitions/nikeProductionTrialBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /partNames/{objectId}:
    get:
      summary: Get specific reference data for a specific BOM Part Name code
      description: How you get a single reference data resource
      parameters:
        - name: objectId
          in: path
          description: The code associated with of the BOM Part Name object
          required: true
          type: string # varchar2
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Reference
      responses:
        '200':
          description: Returns response object with the number of records asked for
          schema:
            $ref: '#/definitions/partNameResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
[...]
