swagger: '2.0'
info:
  title: Sustainability Service
  description: This is the API for the Sustainability entity and should be the way to get Material Sustainability data.
  version: 1.0.0
host: materialmanagement.api-product.pes-prod.nike.com
schemes:
  - https
basePath: /v1
produces:
  - application/json
paths:

# Entity Methods
# Entity Methods for MSI
  /sustainability/data/suppliedMaterialIndicies/{objectId}/current:
    get:
      summary: MSI Score for Most Recent Season
      description: How you get a single MSI Score for the most recent season.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Supplied Material)
          required: true
          type: integer
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - sustnbltySuppliedMaterialScoreCore
            - sustnbltySuppliedMaterialScoreComponents
            - sustnbltySupplierLocationScoreComponents
            - sustnbltySuppliedMaterialScoreAudit
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Sustainability
      responses:
        '200':
          description: Returns response object which contains MSI core with requested data units
          schema:
            $ref: '#/definitions/suppliedMaterialIndexResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /sustainability/data/suppliedMaterialIndicies/current:
    get:
      summary: MSI Score (Bulk) for Most Recent Season
      description: How you get MSI Score in a Bulk fashion for the Most Recent Season.
      parameters:
        - name: objectId
          in: query
          description: A comma separated list of Ids of the object (in this case Supplied Materials)
          required: true
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: csv
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - sustnbltySuppliedMaterialScoreCore
            - sustnbltySuppliedMaterialScoreComponents
            - sustnbltySupplierLocationScoreComponents
            - sustnbltySuppliedMaterialScoreAudit
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Sustainability
      responses:
        '200':
          description: Returns response object which contains {ENTITY-LC} core with requested data units
          schema:
            $ref: '#/definitions/suppliedMaterialIndexBulkResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: You have requested a data unit that does not exist or the number of IDs requested exceeded the maximum number allowed.  Each bulk request should not exceed 25 Object IDs.
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

  /sustainability/data/seasons/{objectId}:
    get:
      summary: Sustainability Season Data
      description: How you get a single date for the most recent season.
      parameters:
        - name: objectId
          in: path
          description: A single Id of the object (in this case Supplied Material)
          required: true
          type: integer
        - name: _dataunits
          in: query
          description: 'The data units that would be desired, default returns just core data'
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
          enum:
            - sustnbltySeasonCore
            - sustnbltySeasonAudit
        - $ref: '#/parameters/traceParam'
        - $ref: '#/parameters/apiKeyParam'
      tags:
        - Sustainability
        - Season
      responses:
        '200':
          description: Returns response object which contains MSI core with requested data units
          schema:
            $ref: '#/definitions/sustainabilityDateResponse'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
            cache-control:
              description: Will indicate rules around caching of the content returned.
              type: string
            expires:
              description: Will indicate a time when this data should be expired in the cache, though cache-control takes precedence
              type: string
              format: date-time
        '400':
          description: If you ask for a data unit that is does not exist
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '401':
          description: You are not authorized to access this resource
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '403':
          description: Access Denied to Object
          schema:
            $ref: '#/definitions/_error'
          headers:
            X-B3-TraceId:
              description: A UUID that will uniquely identify a reqest for tracking purposes
              type: string
        '404':
          description: The object you have requested is not found
          schema:
            $ref: '#/definitions/_error'
        '500':
          description: There has been an internal server error.
        '503':
          description: "The service is overloaded, please contact support"
          schema:
            $ref: '#/definitions/_error'
      security:
        - nike_auth: [read]

parameters:
  traceParam:
    name: X-B3-TraceId
    in: header
    type: string
    required: false
    description: 'A UUID that will uniquely identify a reqest for tracking purposes, if not passed one will be assigned'
  apiKeyParam:
    name: x-api-key
    in: header
    type: string
    required: true
    description: The api key that will identify an application with the AWS API Gateway and is used for tracking and throttling

definitions:

# Responses

# MSI Data

# Responses

  suppliedMaterialIndexResponse:
    type: object
    properties:
      content:
        type: object
        properties:
          objectId:
            type: string
            description: The business key related to items requested.
          objectType:
            type: string
            description: The type of key that has been requested.
          data:
            $ref: '#/definitions/materialSustainabilityIndex_dataunits'
          relationships:
            $ref: '#/definitions/_links'
            description: Link to the relationships endpoint to get any relationships for this entity
      self:
        $ref: '#/definitions/_links'
        description: The resource that was called
      requestTime:
        type: string
        format: date-time
        description: "A UTC timestamp for when the response was given, also for tracking purposes"
      requestStatus:
        type: string
        description: "This is a status code that will list out the status of the request, e.g. success, partial or something to tell the user what has happened"

  suppliedMaterialIndexBulkResponse:
    type: object
    properties:
      content:
        type: array
        items:
          type: object
          properties:
            objectId:
              type: string
              description: The business key related to items requested.
            objectType:
              type: string
              description: The type of key that has been requested.
            data:
              $ref: '#/definitions/materialSustainabilityIndex_dataunits'
            relationships:
              $ref: '#/definitions/_links'
              description: Link to the relationships endpoint to get any relationships for this entity
      count:
        type: integer
        description: The number of entries returned in this responses
      self:
        $ref: '#/definitions/_links'
        description: The resource that was called
      requestTime:
        type: string
        format: date-time
        description: "A UTC timestamp for when the response was given, also for tracking purposes"
      requestStatus:
        type: string
        description: "This is a status code that will list out the status of the request, e.g. success, partial or something to tell the user what has happened"

  sustainabilityDateResponse:
    type: object
    properties:
      content:
        type: object
        properties:
          objectId:
            type: string
            description: The business key related to items requested.
          objectType:
            type: string
            description: The type of key that has been requested.
          data:
            $ref: '#/definitions/sustainabilityDates_dataunits'
      self:
        $ref: '#/definitions/_links'
        description: The resource that was called
      requestTime:
        type: string
        format: date-time
        description: "A UTC timestamp for when the response was given, also for tracking purposes"
      requestStatus:
        type: string
        description: "This is a status code that will list out the status of the request, e.g. success, partial or something to tell the user what has happened"

  materialSustainabilityIndex_dataunits:
    type: object
    required:
      - sustnbltySuppliedMaterialScoreCore
    properties:
      sustnbltySuppliedMaterialScoreCore:
        $ref: '#/definitions/sustnbltySuppliedMaterialScoreCore'
      sustnbltySuppliedMaterialScoreComponents:
        $ref: '#/definitions/sustnbltySuppliedMaterialScoreComponents'
      sustnbltySupplierLocationScoreComponents:
        $ref: '#/definitions/sustnbltySupplierLocationScoreComponents'
      sustnbltySuppliedMaterialScoreAudit:
        $ref: '#/definitions/sustnbltySuppliedMaterialScoreAudit'

  # MSI Data Units

  sustnbltySuppliedMaterialScoreCore:
    type: object
    properties:
      suppliedMaterialIdentifier:
        type: integer
      legacySuppliedMaterialNumber:
        type: string
      supplierLocationIdentifier:
        type: integer
      legacySupplierLocationCode:
        type: string
      suppliedMaterialSustainabilityScore:
        type: integer
      supplierLocationSustainabilityScore:
        type: integer
      sustainabilitySeason:
        $ref: '#/definitions/_reference'
      sustainabilityBusinessUnit:
        $ref: '#/definitions/_reference'
      division:
        description: 'Reference Link to LM Division'
        $ref: '#/definitions/_reference'

  sustnbltySuppliedMaterialScoreComponents:
    type: object
    properties:
      lifecycleAssessmentScore:
        type: number
        format: float
      recycledContentScore:
        type: number
        format: float
      organicContentScore:
        type: number
        format: float
      blendsAndCompositesScore:
        type: number
        format: float
      betterCottonInitiativeProgramScore:
        type: number
        format: float
      waterConservationScore:
        type: number
        format: float
      nikeGreenChemistryProgramScore:
        type: number
        format: float

  sustnbltySupplierLocationScoreComponents:
    type: object
    properties:
      restrictedSubstanceListScore:
        type: number
        format: float
      nikeWaterProgramScore:
        type: number
        format: float
      nikeEnergyAndCarbonProgramScore:
        type: number
        format: float
      nikeGreenChemistryTrainingScore:
        type: integer
      nikeGreenChemistryFormScore:
        type: integer
      certificationsAndProgramsScore:
        type: number
        format: float

  sustnbltySuppliedMaterialScoreAudit:
    type: object
    properties:
      createTimestamp:
        type: string
        format: date-time # Timestamp(6)
        description: 'No Definition Available'
      changeTimestamp:
        type: string
        format: date-time # Timestamp(6)
        description: 'No Definition Available'
      createdBy :
        type: string # varchar(18)
        description: 'No Definition Available'
      modifiedBy :
        type: string # varchar(18)
        description: 'No Definition Available'

  sustainabilityDates_dataunits:
    type: object
    required:
      - sustnbltySeasonCore
    properties:
      sustnbltySeasonCore:
        $ref: '#/definitions/sustnbltySeasonCore'
      sustnbltySeasonAudit:
        $ref: '#/definitions/sustnbltySeasonAudit'

  sustnbltySeasonCore:
    type: object
    properties:
      sustainabilitySeasonIdentifier:
        type: integer
      sustainabilitySeason:
        $ref: '#/definitions/_reference'
      sustainabilitySeasonStartDate:
        type: string
        format: date
      sustainabilitySeasonSecondRunDate:
        type: string
        format: date
      sustainabilitySeasonEndDate:
        type: string
        format: date
      sustainabilityBusinessUnit:
        $ref: '#/definitions/_reference'
      sustainabilitySeasonOrderNumber:
        type: integer
      sustainabilityIsMostRecentSeason:
        type: boolean

  sustnbltySeasonAudit:
    type: object
    properties:
      createTimestamp:
        type: string
        format: date-time # Timestamp(6)
        description: 'No Definition Available'
      changeTimestamp:
        type: string
        format: date-time # Timestamp(6)
        description: 'No Definition Available'
      createdBy :
        type: string # varchar(18)
        description: 'No Definition Available'
      modifiedBy :
        type: string # varchar(18)
        description: 'No Definition Available'

# Common Structures

  _links:
    type: object
    properties:
      rel:
        description: The type of relationship
        type: string
      href:
        description: The reference link
        type: string

  _reference:
    type: object
    properties:
      referenceKey:
        type: string
        description: The key for the described field
      link:
        $ref: '#/definitions/_links'
        description: The url link to the reference service to get descriptions and other data related to the reference key

#Error Structure
  _error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      detailType:
        type: string
      message:
        type: string

#Security

securityDefinitions:
  nike_auth:
    type: oauth2
    tokenUrl: https://nike.okta.com/oauth2/aus27z7p76as9Dz0H1t7/v1/token
    flow: application
    description: Method Nike we will leverage centralized authentication to get the JWT token to uniquely identify users
    scopes:
     read: permission to read data from this service
