*~
**/.*
.*
.*/**
**/.*/**
build/**
dist/**
venv/**
**.pyc
**.pyo
**.egg
**/__pycache__/**
**/.DS_Store
**/*.egg-info
**/*.dist-info
tests/v1/airflow/*
tests/experimental/airflow/*
!tests/v1/airflow/dags
!tests/v1/airflow/docker-compose.yaml
!tests/experimental/airflow/dags
!tests/experimental/airflow/docker-compose.yaml
!.gitignore
!.github
!.flake8
!.tox
epctl
!.github/**