alembic==1.12.0
asn1crypto==1.5.1
black==23.9.1
boto3==1.28.55
botocore==1.31.55
cachetools==5.3.1
cerberus-python-client==2.5.7
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
cryptography==41.0.4
Cython==0.29.36
daves-dev-tools==2.0.9
distlib==0.3.7
docutils==0.20.1
exceptiongroup==1.1.3
filelock==3.12.4
flake8==6.1.0
idna==3.4
importlib-metadata
importlib-resources
iniconfig==2.0.0
iso8601==2.0.0
jaraco.classes==3.3.0
jmespath==1.0.1
jsonpointer==2.4
keyring==24.2.0
Mako==1.2.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mccabe==0.7.0
mdurl==0.1.2
more-itertools==9.1.0
mypy-extensions==1.0.0
mypy==1.5.1
nh3==0.2.14
analytics-orm
cerberus-assistant
docker-utilities
file-system-client
mail-client
map-airflow-client
dev-tools
my-datastore-etl
my-datastore-model
numpy==1.24.4
oapi==1.61.0
oscrypto==1.3.0
packaging==23.1
pandas==2.0.3
pathspec==0.11.2
pip==23.2.1
pkginfo==1.9.6
platformdirs==3.8.1
pluggy==1.3.0
psycopg2==2.9.7
pyarrow==11.0.0
pycodestyle==2.11.0
pycparser==2.21
pycryptodomex==3.19.0
pyflakes==3.1.0
Pygments==2.16.1
PyJWT==2.8.0
pyOpenSSL==23.2.0
pyproject-api==1.6.1
pytest==7.4.2
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
readme-renderer==42.0
requests-toolbelt==1.0.0
requests==2.31.0
rfc3986==2.0.0
rich==13.5.3
s3transfer==0.7.0
setuptools==68.2.2
six==1.16.0
snowflake-connector-python==3.2.0
snowflake-sqlalchemy==1.5.0
sob==1.50.7
sortedcontainers==2.4.0
SQLAlchemy==1.4.49
tomli-w==1.0.0
tomli==2.0.1
tomlkit==0.12.1
tox==4.6.4
twine==4.0.2
typing-extensions==4.8.0
tzdata==2023.3
urllib3==1.26.16
virtualenv==20.24.1
wheel==0.41.2
zipp==3.17.0
